{% extends studentship.get_template %}
{% load humanize typogrify_tags arkestra_date_tags thumbnail placeholder_tags %}

{% block title %}
	<title>Studentship ({{ studentship.hosted_by.short_name }}): {{ studentship }}</title>
{% endblock %}

{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<div id="pagetitle">
        <h{{PAGE_TITLE_HEADING_LEVEL}}>Studentship ({{ studentship.hosted_by.short_name }}): {{ studentship.title }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
    </div>
{% endblock pagetitle %}

{% block summary %}
	<p class="subtitle">{{ studentship.summary|amp|smartypants|caps|initial_quotes }}</p>
{% endblock summary %}


{% block main_page_body %}
    {% block arkestra_content %}
        <div class="row columns3">
        	<div class="column firstcolumn doublecolumn">
				{% block placeholder %}
				    {% render_placeholder studentship.body %}
				{% endblock placeholder %}
			</div>
			<div class="column lastcolumn sidebar">
				{% block image %}
				    {% thumbnail studentship.image.file 227x0 subject_location=studentship.image.subject_location quality=thumbnail_quality as image %}
				    {% if image %}<div><img src="{{ image.url }}" /></div>{% endif %}
				{% endblock image %}
				<dl class="not-indented">
					<dt>Closing date</dt>
					<dd>{% date studentship.date %}</dd>
					{% if studentship.supervisors.all %}
	 				    <dt>General enquiries</dt>
	 				    {% for person in studentship.supervisors.all %}
							<dd><a href = "{{ person.get_absolute_url }}">{{ person }}</a></dd>
						{% endfor %}
					{% endif %}
					{% if studentship.enquiries.all %}
	 				    <dt>General enquiries</dt>
	 				    {% for person in studentship.enquiries.all %}
							<dd><a href = "{{ person.get_absolute_url }}">{{ person }}</a></dd>
						{% endfor %}
					{% endif %}
				</dl>
				{% with studentship.links as links %}
				    {% include "includes/related_links_list.html" %}
		        {% endwith %}
			</div>
		</div>
		<ul class = "news icons">
			<li><a href = "{{ studentship.link_to_vacancies_and_studentships_page }}">More {{ studentship.hosted_by.short_name }} vacancies</a></li>
		</ul>
    {% endblock arkestra_content %}
{% endblock main_page_body %}