{% extends template %}
{% load link_tags %}
{% load placeholder_tags %}

{% block columns %}	
    {% get_links as links %}
	{% if links %}@import url("/media/css/_layout/horiz/80_20.css");
	{% else %}@import url("/media/css/_layout/horiz/100.css");
    {% endif %}
{% endblock columns %}

{% block meta %}
	<meta name="description" content="{{studentship.summary}}"/>
{% endblock meta %}

{% block title %}
	<title>Studentship: {{ studentship }}</title>
{% endblock %}

{% block skip_and_language %}
{% endblock %}

{% block pagetitle %}
		<h{{PAGE_TITLE_HEADING_LEVEL}}> {{ studentship }}{% if studentship.hosted_by %}<br /><span class = "subtitle"{% if studentship.hosted_by.get_website_url %}<a href = "{{studentship.hosted_by.get_website_url }}">{{ studentship.hosted_by }}</a>{% else %}{{ studentship.hosted_by }}{% endif %}{% endif %}</h{{PAGE_TITLE_HEADING_LEVEL}}>
{% endblock pagetitle %}

{% block main_page_body %}

{% block entity_information %}

	
	<div class = "row columns2">
		<div class ="column firstcolumn ">
			<p>{{ studentship.summary }}</p>
			
			<div>{{ studentship.description|safe }}</div>
			<div>{% render_placeholder studentship.body %}</div>
		</div>
		<div class = "column lastcolumn">
			<div class = "tint1">
			    <dl>
					
				    {% if studentship.supervisors.all %}
	   				    <dt>Supervisors</dt>
	   				    <dd>
							{% for person in studentship.supervisors.all %}
								<dd>
									<a href = "{{ person.get_absolute_url }}"> {{ person }}</a>
								</dd>
							{% endfor %}
	   				    </dd>
				    {% endif %}
	
				    {% if studentship.please_contact %}
						<dt>Please contact</dt>
						<dd><a href="{{ studentship.please_contact.get_absolute_url }}">{{ studentship.please_contact }}</a></dd>
					{% endif %}

				    <dt>Closing date for applications</dt>
				    <dd>{{ studentship.closing_date|date:"jS F Y" }}</dd>
				</dl>   
			</div> 
		</div>
	</div>
	<ul class = "plugin linkIcon">
		<li><a href = "{{entity.get_absolute_url}}vacancies-and-studentships/">More {{ entity.short_name }} studentships</a></li>
	</ul>
	
	
{% endblock entity_information %}
{% endblock main_page_body %}