<div class="row {{ cols }}">
    {% if vacancies %}
		<div class = "column {{ vacancies_class }}">
	        {% if heading_level %}<h{{ heading_level }}>{{ vacancies_heading }}</h{{ heading_level }}>{% endif %}
	        {% ifequal format "Details" %}

	        	<ul class="plugin all_info">
               		{% for vacancy in vacancies %}
               		    <li>
					        <strong><a href="{{ vacancy.get_absolute_url }}">{{vacancy.short_title}}</a></strong>
					        <div><a href="{{ vacancy.hosted_by.get_absolute_url }}">{{ vacancy.hosted_by }}</a></div>
					        <div>{{ vacancy.summary }}</div>  
							<div class = "date">Closing date: {{ vacancy.closing_date|date }}</div>
               		    </li>
	            	{% endfor %}
	        	</ul>

	        {% else %}

	        	<ul class="plugin">
	        		{% for vacancy in vacancies %}
	        			<li><a href="{{ vacancy.get_absolute_url }}">{{vacancy.short_title}}, {{ vacancy.hosted_by.short_name }}</a></li>
	        		{% endfor %}

					{% if more_vacancies %}
		        		<li><strong><a class = "linkIcon" href = "{{entity.get_absolute_url}}vacancies-and-studentships/">More {{ entity.short_name }} vacancies</a></strong></li>
					{% endif %}
					{% if more_vacancies_link %}
		        		<li><strong><a class = "linkIcon" href = "{{more_vacancies_link.get_absolute_url}}vacancies-and-studentships/">All {{ more_vacancies_link.short_name }} vacancies</a></strong></li>
					{% endif %}

	        	</ul>

		    {% endifequal %}
		</div>
    {% endif %}

    {% if studentships %}
		<div class = "column {{ studentships_class}}">
	        {% if heading_level %}<h{{ heading_level }}>{{ studentships_heading }}</h{{ heading_level }}>{% endif %}
	        {% ifequal format "Details" %}
	
				<ul class="plugin all_info">
					{% for studentship in studentships %}
						<li> 
							<strong><a href="{{ studentship.get_absolute_url }}">{{studentship.short_title}}</a></strong>
							<div><a href="{{ studentship.hosted_by.get_absolute_url }}">{{ studentship.hosted_by }}</a></div>
					        <div>{{ studentship.summary }}</div>  
							<div class = "date">Closing date: {{ studentship.closing_date|date }}</div>
						</li>
					{% endfor %}
	        	</ul>
	
	        {% else %}

	        	<ul class="plugin">
       		    		{% for studentship in studentships %}
		        			<li><a href="{{ studentship.get_absolute_url }}">{{studentship.short_title}}, {{ studentship.hosted_by.short_name }}</a></li>
       		    	    {% endfor %}

					{% if more_studentships %}
		        		<li><strong><a class = "linkIcon" href = "{{entity.get_absolute_url}}vacancies-and-studentships/">More {{ entity.short_name }} studentships</a></strong></li>   
					{% endif %}
					{% if more_studentships_link %}
		        		<li><strong><a class = "linkIcon" href = "{{more_studentships_link.get_absolute_url}}vacancies-and-studentships/">All studentships in {{ more_studentships_link.short_name }}</a></strong></li>
					{% endif %}
					
	        	</ul>

	        {% endifequal %}
		</div>
    {% endif %}
</div>