{% extends vacancy.get_template %}
{% load humanize typogrify_tags arkestra_date_tags thumbnail placeholder_tags %}

{% block title %}
	<title>Vacancy ({{ vacancy.hosted_by.short_name }}): {{ vacancy }}</title>
{% endblock %}

{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
    <div id="pagetitle">
    	<h{{PAGE_TITLE_HEADING_LEVEL}}>Vacancy: {{ vacancy.title }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
    </div>
{% endblock pagetitle %}

{% block summary %}
	<p class="subtitle">{{ vacancy.summary|amp|smartypants|caps|initial_quotes }}</p>
{% endblock summary %}

{% block main_page_body %}
    {% block arkestra_content %}
        <div class="row columns3">
        	<div class="column firstcolumn doublecolumn">
				{% block placeholder %}
				    {% render_placeholder vacancy.body %}
				{% endblock placeholder %}
			</div>
			<div class="column lastcolumn sidebar">
				{% block image %}
				    {% thumbnail vacancy.image.file 227x0 subject_location=vacancy.image.subject_location as image %}
				    {% if image %}<div><img src="{{ image.url }}" /></div>{% endif %}
				{% endblock image %}
				<dl class="not-indented"> {% if vacancy.hosted_by %}
    				    <dt>Where</dt>
    				    <dd><a href="{{ vacancy.hosted_by.get_absolute_url }}">{{ vacancy.hosted_by.short_name }}</a></dd>
				    {% endif %}
					<dt>Closing date</dt>
					<dd>{% date vacancy.date %}</dd>
				    {% if vacancy.salary %}
						<dt>Salary</dt>
						<dd>{{ vacancy.salary }}</dd>
					{% endif %}
					{% if vacancy.enquiries.all %}
	 				    <dt>General enquiries</dt>
	 				    {% for person in vacancy.enquiries.all %}
							<dd><a href = "{{ person.get_absolute_url }}">{{ person }}</a></dd>
						{% endfor %}
					{% endif %}
				</dl>
				{% with vacancy.links as links %}
				    {% include "includes/related_links_list.html" %}
		        {% endwith %}
			</div>
		</div>
		<ul class = "news icons">
			<li><a href = "{{ vacancy.link_to_vacancies_and_studentships_page }}">More {{ vacancy.hosted_by.short_name }} vacancies</a></li>
		</ul>
    {% endblock arkestra_content %}
{% endblock main_page_body %}