{% load i18n adminmedia arkestra_filters %}
<div class="cont">
	<div class="col1">
		<a href="{{ url }}{{ externalsite.id }}" class="title" title="edit">{% ifnotequal externalsite.site externalsite.domain %}{{ externalsite.site }}: {% endifnotequal %}{{ externalsite.domain }}</a></span>	
		<a href="{{ url }}{{ externalsite.id }}" class="changelink" title="edit">edit</a>
	</div>
	<div class="col2">
		
		<div class="col-actions">
			
			{% if has_add_permission %}
				<a href="add/?parent={{ externalsite.id }}" class="addlink" title="{% trans "Add Child" %}" id="add-link-{{ externalsite.id }}"><span>{% trans "add" %}</span></a>
			{% endif %}
		</div>	
	</div>
</div>
