Django 1.4
django-cms
pyquery == 0.6.1
django-typogrify
easy_thumbnails
BeautifulSoup >= 3.0.8.1
django-classy-tags
django-filer
django-appmedia
django-celery
django_polymorphic

-e git+git://github.com/evildmp/django-filer.git@video#egg=django-filer-video
-e hg+https://bitbucket.org/evildmp/semanticeditor#egg=semanticeditor
-e git+git://github.com/evildmp/django-widgetry.git#egg=django-widgetry