{% load events_tags %}
{% if event.children.all %}
        {% if event.get_children_forthcoming %}
    		{% if event.child_list_heading %}
		        <h3>{% if event.series %}Forthcoming {{ event.child_list_heading|lower }}{% else %}{{ event.child_list_heading }}{% endif %}</h3>
    		{% else %}
		        <h3>{% if event.series %}Forthcoming sessions{% else %}Sessions{% endif %}</h3>
    		{% endif %}

		<ul class = "none">
		    {% for child_event in event.get_children_forthcoming %}
    			<li>
					{% if event.no_direct_access_to_children and not child_event.content %}
	    				<strong>{{child_event.title}}</strong>
					{% else %}
						<a href= "{{child_event.get_absolute_url}}"><strong>{{child_event}}</strong></a>
					{% endif %}	
					{% ifnotequal event.subtitle child_event.subtitle %}<div class = "subtitle">{{ event.subtitle }}</div>{% endifnotequal %}
				    <div class = "date">{{ child_event.get_dates }}{% if child_event.get_times %}, {{ child_event.get_times|safe }}{% endif %}</div>
					{% ifnotequal child_event.building event.building %}<a href="{{child_event.building.get_absolute_url}}">{{ child_event.building.get_name }}</a>{% endifnotequal %}
					{% if child_event.precise_location %}
						{% ifnotequal child_event.precise_location event.precise_location %}{{ child_event.precise_location }}{% endifnotequal %}
					{% endif %}
					{% if child_event.access_note %}
						{% ifnotequal child_event.access_note event.access_note %}{{ child_event.access_note }}{% endifnotequal %}
					{% endif %}

				<dl>
					{% if child_event.featuring.all %}{% ifnotequal child_event.get_featuring featuring %}
		    			<dt>Featuring</dt>
						{% for speaker in child_event.featuring.all %}
							<dd>
								<a href = "{{ speaker.get_absolute_url }}">{{ speaker }}</a>
							</dd>
						{% endfor %}
						{% endifnotequal %}
					{% endif %}
				</dl>
    			</li>
	    	{% endfor %}
		</ul>
{% endif %}
{% if event.get_children_previous %}
    		{% if event.child_list_heading %}
		        <h3>Previous {{ event.child_list_heading|lower }}</h3>
    		{% else %}
    			<h3>Previous sessions</h3>
    		{% endif %}
		
		<ul class = "none">
		    {% for child_event in event.get_children_previous %}
    			<li>
					{% if event.no_direct_access_to_children and not child_event.content %}
	    				<strong>{{child_event.title}}</strong>
					{% else %}
						<a href= "{{child_event.get_absolute_url}}"><strong>{{child_event}}</strong></a>
					{% endif %}	
					{% ifnotequal event.subtitle child_event.subtitle %}<div class = "subtitle">{{ event.subtitle }}</div>{% endifnotequal %}
				    {% if event.series %}<div class = "date">{{ child_event.get_dates }}{% if child_event.get_times %}, {{ child_event.get_times|safe }}{% endif %}</div>{% endif %}
					{% if child_event.featuring.all %}{% ifnotequal child_event.get_featuring featuring %}
		    			<dt>Featuring</dt>
						{% for speaker in child_event.featuring.all %}
							<dd>
								<a href = "{{ speaker.get_absolute_url }}">{{ speaker }}</a>
							</dd>
						{% endfor %}
						{% endifnotequal %}
					{% endif %}
				</dl>
    			</li>
	    	{% endfor %}
		</ul>
	{% endif %}

{% endif %}
