{% load events_tags %}
{% if event.children.all %}
        {% if event.get_children_forthcoming %}
    		{% if event.child_list_heading %}
		        <h{{ IN_BODY_HEADING_LEVEL }}>{% if event.series %}Forthcoming {{ event.child_list_heading|lower }}{% else %}{{ event.child_list_heading }}{% endif %}</h{{ IN_BODY_HEADING_LEVEL }}>
    		{% else %}
		        <h{{ IN_BODY_HEADING_LEVEL }}>{% if event.series %}Forthcoming sessions{% else %}Sessions{% endif %}</h{{ IN_BODY_HEADING_LEVEL }}>
    		{% endif %}

		<ul class = "vertical plugin-list">
		    {% for child_event in event.get_children_forthcoming %}
    			<li>
					{% if child_event.is_uninformative %}
	    				<strong>{{child_event.title}}</strong>
					{% else %}
						<a href= "{{child_event.get_absolute_url}}"><strong>{{child_event}}</strong></a>
					{% endif %}	
					{% ifnotequal event.summary child_event.summary %}<div class = "summary">{{ child_event.summary }}</div>{% endifnotequal %}
				    <div class = "date">{{ child_event.get_dates }}{% if child_event.get_times %}, {{ child_event.get_times|safe }}{% endif %}</div>
					{% ifnotequal child_event.building event.building %}<a href="{{child_event.building.get_absolute_url}}">{{ child_event.building.get_name }}</a>{% endifnotequal %}
					{% if child_event.precise_location %}
						{% ifnotequal child_event.precise_location event.precise_location %}{{ child_event.precise_location }}{% endifnotequal %}
					{% endif %}
					{% if child_event.access_note %}
						{% ifnotequal child_event.access_note event.access_note %}{{ child_event.access_note }}{% endifnotequal %}
					{% endif %}
    			</li>
	    	{% endfor %}
		</ul>
{% endif %}
{% if event.get_children_previous %}
    		{% if event.child_list_heading %}
		        <h{{ IN_BODY_HEADING_LEVEL }}>Previous {{ event.child_list_heading|lower }}</h{{ IN_BODY_HEADING_LEVEL }}>
    		{% else %}
    			<h{{ IN_BODY_HEADING_LEVEL }}>Previous sessions</h{{ IN_BODY_HEADING_LEVEL }}>
    		{% endif %}
		
		<ul class = "vertical plugin-list">
		    {% for child_event in event.get_children_previous %}
    			<li>
					{% if child_event.is_uninformative %}
	    				<strong>{{child_event.title}}</strong>
					{% else %}
						<a href= "{{child_event.get_absolute_url}}"><strong>{{child_event}}</strong></a>
					{% endif %}	
					{% ifnotequal event.summary child_event.summary %}<div class = "summary">{{ child_event.summary }}</div>{% endifnotequal %}
				    {% if event.series %}<div class = "date">{{ child_event.get_dates }}{% if child_event.get_times %}, {{ child_event.get_times|safe }}{% endif %}</div>{% endif %}
    			</li>
	    	{% endfor %}
		</ul>
	{% endif %}

{% endif %}
