{% load events_tags %}
{% if event.children.all %}
	<div class="outline tint4">
        {% if event.get_children_forthcoming %}
    		{% if event.child_list_heading %}
		        <h3>{% if event.series %}Forthcoming {{ event.child_list_heading|lower }}{% else %}{{ event.child_list_heading }}{% endif %}</h3>
    		{% else %}
		        <h3>{% if event.series %}Forthcoming sessions{% else %}Sessions{% endif %}</h3>
    		{% endif %}

		<ul class = "none">
		    {% for child_event in event.get_children_forthcoming %}
    			{% if event.no_direct_access_to_children and not child_event.content %}
    				<li><strong>{{child_event.title}}</strong>{% if child_event.subtitle %}<br />{{ child_event.subtitle }}{% endif %}
    			{% else %}
    				<li><a href= "{{child_event.get_absolute_url}}"><strong>{{child_event}}</strong></a>{% if child_event.subtitle %}<br />{{ child_event.subtitle }}{% endif %}
    			{% endif %}
				<dl>
				    {% if event.series %}{% event_date_and_time child_event %}{% endif %}
					{% if child_event.speakers.all %}{% ifnotequal child_event.get_speakers speakers %}
						<dt>Speaker{{ child_event.speakers.all|pluralize }}</dt>
						{% for speaker in child_event.speakers.all %}
							<dd>
								<a href = "{{ speaker.get_absolute_url }}">{{ speaker }}</a>
							</dd>
						{% endfor %}
						{% endifnotequal %}
					{% endif %}
					{% if child_event.building %}
						{% ifnotequal child_event.building event.building %}
							<dt>Venue</dt>
							<dd>
								{{ child_event.building.get_postal_address|join:"<br />" }}
							</dd>
						{% endifnotequal %}
					{% endif %}
					{% if child_event.precise_location %}
						{% ifnotequal child_event.precise_location event.precise_location %}
							<dt>Location</dt>
							<dd>
								{{ child_event.precise_location }}
							</dd>
						{% endifnotequal %}
					{% endif %}
					{% if child_event.access_note %}
						{% ifnotequal child_event.access_note event.access_note %}
							<dt>Note</dt>
							<dd>
								{{ child_event.access_note }}
							</dd>
						{% endifnotequal %}
					{% endif %}
				</dl>
    			</li>
	    	{% endfor %}
		</ul>
{% endif %}
{% if event.get_children_previous %}
    		{% if event.child_list_heading %}
		        <h3>Previous {{ event.child_list_heading|lower }}</h3>
    		{% else %}
    			<h3>Previous sessions</h3>
    		{% endif %}
		
		<ul class = "none">
		    {% for child_event in event.get_children_previous %}
    			{% if event.no_direct_access_to_children and not child_event.content %}
    				<li><strong>{{child_event.title}}</strong>{% if child_event.subtitle %}<br />{{ child_event.subtitle }}{% endif %}
    			{% else %}
    				<li><a href= "{{child_event.get_absolute_url}}"><strong>{{child_event}}</strong></a>{% if child_event.subtitle %}<br />{{ child_event.subtitle }}{% endif %}
    			{% endif %}
				<dl>
				    {% if event.series %}{% event_date_and_time child_event %}{% endif %}
					{% if child_event.speakers.all %}{% ifnotequal child_event.get_speakers speakers %}
						<dt>Speaker{{ child_event.speakers.all|pluralize }}</dt>
						{% for speaker in child_event.speakers.all %}
							<dd>
								<a href = "{{ speaker.get_absolute_url }}">{{ speaker }}</a>
							</dd>
						{% endfor %}
						{% endifnotequal %}
					{% endif %}
				</dl>
    			</li>
	    	{% endfor %}
		</ul>
	{% endif %}
			</div>

{% endif %}
