{% load events_tags %}
<div class = "">
	<dl class="not-indented">
		{% if event.parent %}
			{% if event.parent.series %}
				<dt>Part of the {{ event.type|lower }} series</dt>
				<dd><strong><a href = "{{event.parent.get_absolute_url}}">{{ event.parent }}</strong></a></dd>
			{% else %}
				<dt>Part of the {{ event.parent.type|lower }}</dt>
				<dd><strong><a href = "{{event.parent.get_absolute_url}}">{{ event.parent }}</a></strong>
				<br />{% ifnotequal event.parent.get_dates event.get_dates %}{{ event.parent.get_dates }}{% endifnotequal %}</dd>
			{% endif %}
		{% endif %}
		{% event_date_and_time %}
	    {% if event.get_featuring %}
 				    <dt>With</dt>
				{% for speaker in event.get_featuring %}
					<dd>
						<a href = "{{ speaker.get_absolute_url }}">{{ speaker }}</a>
					</dd>
				{% endfor %}
	    {% endif %}
	    {% if event.hosted_by and MULTIPLE_ENTITY_MODE %}
			{% with event.hosted_by.website.get_absolute_url as website_url %}
  				    <dt>Hosted by</dt>
				{% if website_url %}
  				    	<dd><a href="{{ website_url }}">{{ event.hosted_by }}</a></dd>
				{% else %}
					<dd>{{ event.hosted_by }}</dd>
  				    {% endif %}
			{% endwith %}
	    {% endif %}
	    {% if event.please_contact.all %}
 				    <dt>General enquiries</dt>
				{% for person in event.please_contact.all %}
					<dd>
						<a href = "{{ person.get_absolute_url }}"> {{ person }}</a>
					</dd>
				{% endfor %}
	    {% endif %}
	    {% if event.registration_enquiries.all %}
 				    <dt>Registration enquiries</dt>
				{% for person in event.registration_enquiries.all %}
					<dd>
						<a href = "{{ person.get_absolute_url }}"> {{ person }}</a>
					</dd>
				{% endfor %}
	    {% endif %}
	    {% if event.building %}
    	    <dt>Venue {% if event.children_have_different_venues %}(unless otherwise indicated){% endif %}</dt>
		    <dd>
		        {{ event.building.get_postal_address|join:"<br />" }}
    			{% if event.building.map %}
    			    <br />
        			<span class="image imageset map">
        				<a href="{{event.building.get_absolute_url}}map">
            				<img alt="map" src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.building.latitude }},{{ event.building.longitude }}&zoom={{ event.building.zoom|add:"-4" }}&size={{ sidebar_map_size }}&markers=color:red|{{ event.building.latitude }},{{ event.building.longitude }}&sensor=false" />
        					<span class="imageset-item-data image-title text">map &amp; directions</span>
        					<span class="link-arrow"></span>
        				</a>
        		    </span>
		        {% endif %}
            </dd>
	    {% endif %}
	    {% if event.precise_location %}
 				    <dt>Location</dt>
 				    <dd>{{ event.precise_location }}</dd>
	    {% endif %}
	    {% if event.access_note %}
 				    <dt>Note</dt>
 				    <dd>{{ event.access_note }}</dd>
	    {% endif %}
	</dl>
</div>