-e hg+https://bitbucket.org/evildmp/semanticeditor#egg=semanticeditor
-e git+git@github.com:evildmp/django-widgetry.git#egg=django-widgetry
-e git+https://github.com/stefanfoulis/django-filer.git@develop#egg=django-filer

