-e hg+https://bitbucket.org/spookylukey/django-easyfilters#egg=django-easyfilters

-e git+https://github.com/evildmp/django-widgetry.git@master#egg=django-widgetry

-e git+https://github.com/evildmp/django-chained-selectbox.git@master#egg=django-chained-selectbox
