{% spaceless %}   
{% load thumbnail %}

{% thumbnail item.image.file item.image_size crop subject_location=item.image.subject_location as image_src %}
{% ifequal imageset.kind "slider" %}

    <div><img alt="{% if item.link_title %}{{ item.alt }}{% endif %}" class="plugin" src="{{ image_src.url }}" />

    {% if item.image_title %}<span class="imageset-item-data image-title text">{{ item.image_title }}</span>{% endif %}
	{% if item.url and imageset.items_have_links %}<a class="link-title text" href="{{ item.url }}"><span class="title">{{ item.link_title|default:item.text }}</span> <span class="more-information">Read more...</span></a>{% endif %}
    </div>
{% else %}
{% if "lightbox" in imageset.kind %}

	<a class="fancy" href="/arkestra-lightbox-item/{{ item.id }}/{{ lightbox_max_dimension }}/" style="width: {{ item.width }}px; min-height: {{ item.height }}px;">

	    {% if imageset.kind == "lightbox-single" %}
	        {% if forloop.first %}
    	        <span class="image-title">{{ imageset.number_of_items }} images</span>
    	        <img class="fancybox-icon" alt="{{ item.image.name }}"  src="{{ image_src.url }}" />
    	    {% else %}
    	        <span class="hide">{{ item.image.name }}</span>
    	    {% endif %}
    	{% endif %}    

	    {% if imageset.kind == "lightbox" %}
    	    {% if item.link_title %}<span  class="image-title">{{ item.link_title }}</span>{% endif %}
		    <img class="fancybox-icon" alt="{{ item.image.name }}"  src="{{ image_src.url }}" />
		{% endif %}

   	</a>

{% else %}

    <a {% if item.url and imageset.items_have_links %}href="{{ item.url }}"{% endif %} style="width: {{ item.width }}px; min-height: {{ item.height }}px;">
	
    	<img alt="{{ item.alt }}" class="plugin" src="{{ image_src.url }}" />
	
    	{% if item.image_title %}<span class="imageset-item-data image-title text">{{ item.image_title }}</span>{% endif %}
    	{% if item.image_caption %}<span class="imageset-item-data image-caption text">{{ item.image_caption }}</span>{% endif %}

    	{% if item.link_title %}<span class="link-title text">{{ item.link_title }}</span>{% endif %}
    	{% if item.link_description %}<span class="link-description text">{{ item.link_description }}</span>{% endif %}
	
    	{% if item.show_author %}<span class="image_author text">(Author: {{ item.image.author }})</span>{% endif %}
	    
    	{% if item.link_title or item.link_description %}<span class="more-information">Read more<span class="hide"> about {{ item.link_title|default:item.text }}</span>...</span>{% endif %}
    </a>
    
{% endif %}{% endifequal %}
{% endspaceless %}      