{% spaceless %}   
{% load thumbnail %}

{% ifequal imageset.kind "slider" %}

    <img alt="{% if item.link_title %}{% if item.alt_text %}{{ item.alt_text }}{% else %}{{ item.destination_content_object }}{% endif %}{% endif %}" class="plugin" src="{% thumbnail item.image.file item.image_size crop subject_location=item.image.subject_location %}" />

    {% if item.image_title %}<span class="imageset-item-data image-title text">{{ item.image_title }}</span>{% endif %}
	{% if item.url and imageset.items_have_links %}<a class="link-title text" href="{{ item.url }}"><span class="title">{{ item.link_title|default:item.text }}</span> <span class="more-information">Read more...</span></a>{% endif %}

{% else %}
{% ifequal imageset.kind "lightbox" %}

	<a class="fancy" href="/arkestra-lightbox-item/{{ item.id }}" style="width: {{ item.width }}px; min-height: {{ item.height }}px;">
	    {% if item.link_title %}<span  class="image-title">{{ item.link_title }}</span>{% endif %}
		<img class="fancybox-icon" alt="{{ item.image.name }}"  src="{% thumbnail item.image.file item.image_size crop subject_location=item.image.subject_location %}" />
   	</a>

{% else %}

    <a {% if item.url and imageset.items_have_links %}href="{{ item.url }}"{% endif %} style="width: {{ item.width }}px; min-height: {{ item.height }}px;">
	
    	<img alt="{% if item.alt_text %}{{ item.alt_text }}{% else %}{{ item.destination_content_object }}{% endif %}" class="plugin" src="{% thumbnail item.image.file item.image_size crop subject_location=item.image.subject_location %}" />
	
    	{% if item.image_title %}<span class="imageset-item-data image-title text">{{ item.image_title }}</span>{% endif %}
    	{% if item.image_caption %}<span class="imageset-item-data image-caption text">{{ item.image_caption }}</span>{% endif %}

    	{% if item.link_title %}<span class="link-title text">{{ item.link_title }}</span>{% endif %}
    	{% if item.link_description %}<span class="link-description text">{{ item.link_description }}</span>{% endif %}
	
    	{% if item.show_author %}<span class="image_author text">(Author: {{ item.image.author }})</span>{% endif %}
	    
    	{% if item.link_title or item.link_description %}<span class="more-information">Read more<span class="hide"> about {{ item.link_title|default:item.text }}</span>...</span>{% endif %}
    </a>
    
{% endifequal %}{% endifequal %}
{% endspaceless %}      