{% load i18n entity_admin_tags %}
<li id="page_{{entity.pk}}" class="{% if cl.is_filtered %}leaf{% endif %} moveable"{% if metadata %} mdata="{{ metadata }}{% endif %}" rel="{% ifequal entity.level 0 %}topnode{% else %}node{% endifequal %}">
	{% include 'admin/contacts_and_people/entity/change_list_tree_item.html' %}
	{% with entity.children.all as children %}
		{% if children%}<ul>{% for child in children %}
			{% show_entity_tree_item child %}{% endfor %}
		</ul>{% endif %}
	{% endwith %}
</li>