{% extends entity.get_template %}
{% comment %}

Extends the base page template, and includes the generic_lister_template specified in the view.

{% endcomment %}
{% load typogrify_tags %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block col_class %}
	{% with is_menu_node="True" %}
		{{ block.super }}
	{% endwith %}
{% endblock col_class %}

{% block skip_and_language %}
{% endblock %}

{% block main_page_body %}
		{% include generic_lister_template %}
{% endblock main_page_body %}
