{% extends item.get_template %}
{% load arkestra_date_tags typogrify_tags humanize thumbnail placeholder_tags %}

{% block title %}
	<title>{{ item }}</title>
{% endblock %}

{% block nav_local %}{% endblock nav_local %}

{% block pagetitle %}
    <div id="pagetitle">
    	<h{{PAGE_TITLE_HEADING_LEVEL}}>{{ item.title }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
    </div>
{% endblock pagetitle %}

{% block summary %}
	<p class="subtitle">{{ item.summary|amp|smartypants|caps|initial_quotes }}</p>
{% endblock summary %}


{% block main_page_body %}
    {% thumbnail item.image.file sidebar_image_size subject_location=item.image.subject_location quality=thumbnail_quality crop as image %}
	{% with placeholder_width=generic_main_width %}
		<div class="row columns3">
	       	<div class="column firstcolumn doublecolumn">
				{% block placeholder %}
				    {% render_placeholder item.body %}
				{% endblock placeholder %}
			</div>

			{% block details %}
                <div class="column lastcolumn sidebar">
    				{% block image %}
    				    {% if image %}
                            <div><img src="{{ image.url }}" /></div>
                        {% endif %}
    				{% endblock image %}

    				<dl class="not-indented">
    					<dt>Published</dt>
    					<dd>{% date item.date %}</dd>
    					{% if item.please_contact.all %}
    	 				    <dt>General enquiries</dt>
    	 				    {% for person in item.please_contact.all %}
    							<dd>
                                    <a href = "{{ person.get_absolute_url }}">{{ person }}</a>
                                </dd>
    						{% endfor %}
    					{% endif %}
    				</dl>
    				{% with item.links as links %}
    				    {% include "includes/related_links_list.html" %}
    		        {% endwith %}
    			</div>
            {% endblock details %}
		</div>
		<ul class = "news icons">
			<li>
                <a href = "{{ item.link_to_more }}">
                    More {{ item.hosted_by.short_name }} items
                </a>
            </li>
		</ul>
	{% endwith %}
{% endblock main_page_body %}