{% load pagination_tags sekizai_tags %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pagination.css" />
{% endaddtoblock %}

{% for list in lister.lists %}
    				{% if lister.heading_level %}
    					<h{{ lister.heading_level }}>
                            {{ list.heading_text }}
                        </h{{ lister.heading_level }}>
    				{% endif %}

    <div class="row columns3">
    	<div class="column lastcolumn sidebar">
            <h{{ IN_BODY_HEADING_LEVEL }}>Filter</h{{ IN_BODY_HEADING_LEVEL }}>
            <div class="generic_filtration">
                <form action="" method="GET" class="filter-form">
                    {% for field in list.search_fields %}
                        <div>
                            <label for="{{ field.field_name }}">
                            	<span class="label-text">{{ field.field_label }}:</span>
                            </label>

                            <input placeholder="{{ field.placeholder }}" type="search" name="{{ field.field_name }}" value="{{ field.value }}">
                        </div>
                    {% endfor %}
                    <input type="submit" value="Apply">
                    {% for field in list.hidden_search_fields %}
                        <input type="hidden" name="{{ field.field_name }}" value="{{ field.value }}">
                    {% endfor %}
                </form>
                {{ list.itemfilter }}
    			<strong>{{ list.itemfilter.qs.count }} items found</strong>
            </div>
		    {% include "arkestra/generic_list_other_items.html" %}
        </div>

    	<div class = "column firstcolumn doublecolumn">
            {% with list.itemfilter.qs as items %}
                {% autopaginate items 8 %}
                {% paginate %}
                <ul class="{{ lister.list_format}} plugin-list">
                    {% for item in items %}
                        <li class = "plugin-list-item {{ item.column_class }} {{ item.get_importance}}">
                            {% include list.item_template %}
                        </li>
                    {% endfor %}
                </ul>
            {% paginate %}
            {% endwith %}
        </div>
    </div>
{% endfor %}
