{% ifequal lister.type "sub_page" %}
	<ul class="close icons other-items">
		{% for list in lister.lists %}
			{% for item in list.other_items %}
				<li><a href = "{{item.link}}">{{item.title|capfirst }}</a> ({{ item.count }} item{{ item.count|pluralize }})</li>
			{% endfor %}
		{% endfor %}
        {% if lister.link_to_main_page %}
            <li><strong><a href = "{{ lister.link_to_main_page}}">{{ lister.entity.short_name }} {{ lister.main_page_name|lower }} page</a></strong></li>
    	{% endif %}
	</ul>
{% endifequal %}      