{% if lister.lists %}
    {% load placeholder_tags %}
    <div class="{{ lister.row_class }} {{ lister.type }}">
    	{% render_placeholder intro_page_placeholder %}

    	{% for list in lister.lists %}
    	    1{{ list.other_items }}
    	    2{{ list.other_items }}
    	    3{{ list.other_items }}
        	{% with list.other_items as other_items %}
        		{% if other_items or list.items %}
        			{% include "arkestra/universal_date_index.html" %}
        			<div class = "{{ list.div_class }}">
        				{% if lister.heading_level %}
        					<h{{ lister.heading_level }}>{{ list.heading_text }}</h{{ lister.heading_level }}>
        				{% endif %}

        				<ul class="{{ lister.list_format}} plugin-list">
        			        {% if list.show_when %}
        							{% regroup list.items by get_when as itemlist %}
        							{% for get_when in itemlist %}
        								<li class="grouper {{get_when.grouper|slugify}}" id ="{{get_when.grouper|slugify}}">{{ get_when.grouper }}
        								    <ul>
        						        		{% for item in get_when.list %}
        											{% include list.item_template|default:"arkestra/universal_plugin_list_item.html" %}
        						        	    {% endfor %}
        						        	</ul>
        						    	</li>
        						{% endfor %}
        			    	{% else %}      
        						{% for item in list.items %}
        							{% include list.item_template|default:"arkestra/universal_plugin_list_item.html" %}
        						{% endfor %}
        					{% endif %}
        				</ul>
        				{% include "arkestra/universal_other_items_for_main_page_new.html" %}
        			</div>
        		{% endif %}
    		{% endwith %} 
    		
    		
    	{% endfor %}
    </div>

    {% include "arkestra/universal_other_items_for_sub_page_new.html" %}
    {% include "arkestra/universal_other_items_for_plugin.html" %}
{% endif %}
