<div class="{{ vacancies_and_studentships.row_class }} {{ vacancies_and_studentships.type }}">

	{% if vacancies_and_studentships.vacancies or vacancies_and_studentships.other_vacancies %}
		{% include "includes/vacancies_date_index.html" %}

		<div class = "{{ vacancies_and_studentships.vacancies_div_class }}">
			{% if vacancies_and_studentships.heading_level %}
				<h{{ vacancies_and_studentships.heading_level }}>{{ vacancies_and_studentships.vacancies_heading_text }}</h{{ vacancies_and_studentships.heading_level }}>
			{% endif %}

			<ul class="{{ vacancies_and_studentships.vacancies_list_class}}">
		        {% if vacancies_and_studentships.show_vacancies_when %}
						{% regroup vacancies_and_studentships.vacancies by get_when as vacancieslist %}
						{% for get_when in vacancieslist %}
							<li class="grouper {{get_when.grouper|slugify}}" id ="{{get_when.grouper|slugify}}">{{ get_when.grouper }}
							    <ul>
					        		{% for vacancy in get_when.list %}
										{% include vacancies_and_studentships.vacancies_list_item_template %}
					        	    {% endfor %}
					        	</ul>
					    	</li>
					{% endfor %}
		    	{% else %}
					{% for vacancy in vacancies_and_studentships.vacancies %}
						{% include vacancies_and_studentships.vacancies_list_item_template %}
					{% endfor %}
				{% endif %}
			</ul>
			{% ifequal vacancies_and_studentships.type "main_page" %}
			    {% if vacancies_and_studentships.other_vacancies %}
    				<ul class="fancy close other-items">
    					{% for item in vacancies_and_studentships.other_vacancies %}
    						<li><a class = "linkIcon" href = "{{item.link}}">{{item.title|capfirst }} ({{ item.count }} item{{ item.count|pluralize }})</a></li>
    					{% endfor %}
    				</ul>
    			{% endif %}
			{% endifequal %}
		</div>
	{% endif %}

    {% if vacancies_and_studentships.studentships or vacancies_and_studentships.other_studentships %}
		{% include "includes/studentships_date_index.html" %}

		<div class = "{{ vacancies_and_studentships.studentships_div_class }}">
			{% if vacancies_and_studentships.heading_level %}
				<h{{ vacancies_and_studentships.heading_level }}>{{ vacancies_and_studentships.studentships_heading_text }}</h{{ vacancies_and_studentships.heading_level }}>
			{% endif %}

			{% if vacancies_and_studentships.studentships %}
			    <ul class="{{ vacancies_and_studentships.studentships_list_class}}">
				    {% if vacancies_and_studentships.show_studentships_when %}	        	
			    	    {% regroup vacancies_and_studentships.studentships by get_when as studentshiplist %}
			       	    {% for get_when in studentshiplist %}
			        		<li class="grouper {{get_when.grouper|slugify}}" id ="{{get_when.grouper|slugify}}">{{ get_when.grouper }}
			    				<ul>
			    		    		{% for studentship in get_when.list %}
			    						{% include vacancies_and_studentships.studentships_list_item_template %}
			    		    	    {% endfor %}
			    				</ul>
			    			</li>
			    	    {% endfor %}

				    {% else %}
				    		{% for studentship in vacancies_and_studentships.studentships %}
								{% include vacancies_and_studentships.studentships_list_item_template %}
				    	    {% endfor %}
				    {% endif %}
				</ul>	
			{% endif %}

			{% ifequal vacancies_and_studentships.type "main_page" %}
    			{% if vacancies_and_studentships.other_studentships %}
    				<ul class="fancy close other-items">
    					{% for item in vacancies_and_studentships.other_studentships %}
    						<li><a class = "linkIcon" href = "{{item.link}}">{{item.title|capfirst }} ({{ item.count }} item{{ item.count|pluralize }})</a></li>
    					{% endfor %}
    				</ul>
    			{% endif %}
			{% endifequal %}
		</div>
	{% endif %}

</div>

{% include "includes/other_items_for_sub_page.html" %}
{% include "includes/other_items_for_plugin.html" %}