{% if vacancies_and_studentships.studentshipsindex %}
	<div class = "{{ studentships.index_div_class }}">
		<div class ="tint6">
			<h{{ vacancies.heading_level }} id = "index">Index</h{{ vacancies.heading_level }}>
			<ul class = "none">
				{% regroup studentships.studentships_index_items by date.year as yearlist %}
				{% for year in yearlist %}
					<li><strong>{{ year.grouper }}</strong>
						{% regroup year.list by date|date:"F" as monthlist %}
						<ul class = "close">
							{% for month in monthlist %}
							<li><a href = "#{{ month.grouper|slugify }}-{{ year.grouper}}">{{ month.grouper}}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}
