{% regroup links by heading as link_types %}
{% for kind in link_types %}
    <h{{ IN_BODY_HEADING_LEVEL }}>{{kind.grouper}}</h{{ IN_BODY_HEADING_LEVEL }}>
    <ul class= "object-links">
    	{% for link in kind.list %}
    		<li>
    			<a href = "{{ link.url }}">{% if link.text %}{{ link.text }}
    				{% else %}{{ link.destination_content_object }}
    				{% endif %}
    			</a>{% if link.include_description and link.description %}<br />{{ link.description }}{% endif %}
    		</li>
    	{% endfor %}
    </ul>
{% endfor %}
