{% load i18n filermedia %}
{% if not video.unready_versions %}
    <video width="{{ video.width }}" controls>
    	{% for codec in video.formats.HTML5 %}}<source src="{{ codec.url}}" />{% endfor %}
    	{% if video.formats.FLASH %}
    	    <object width="{{video.width}}" type="application/x-shockwave-flash" data="{% filer_staticmedia_prefix %}flash/player.swf">
        		<param name="movie" value="{% filer_staticmedia_prefix %}flash/player.swf" />
        		{% for codec in video.formats.FLASH %}
                	<param name="flashvars" value="controlbar=over&amp;file={{codec.url}}" />
            	{% endfor %}
            </object>
        {% endif %}
    </video>

{% else %}
	<div style="border: 1px solid black; border-radius: 5px; width: {{video.width}}px; height:{{video.height}}px;">
		<div style="text-align: center; padding: 15%">
			<p>This video is not yet ready.</p>
			<p>Please try again in a few moments.</p>
		</div>
	</div>
{% endif %}