{% extends "admin/cms/page/plugin_change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script type='text/javascript'>
//<![CDATA[
$(document).ready(function () {
  $('div[class|="form-row field-input_url"]').hide();
});
$(document).ready(function () {

  $('select[id|="id_links_item"]').on('change', function () {
    var $this = $(this),
      val = $this.val();
    if (val == "40") {
      var hideshow = "block";
    } else {
      var hideshow = "hide";
    };

    $this.closest('div[class|="form-row field-destination_content_type"]').nextAll('div[class|="form-row field-input_url"]').css('display', hideshow);
  });
});
//]]>
</script>

{% endblock %}
