{% extends event.template %}
{% load events_tags %}
{% load link_tags %}
{% load placeholder_tags %}
{% load humanize %}
{% load typogrify %}
{% load thumbnail %}

{% block meta %}
	<meta name="description" content="{{event.subtitle}}"/>
{% endblock meta %}

{% block title %}
	<title>{{event.type}}: {{ event }}</title>
{% endblock %}


{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{page_title_heading_level}}>{{ event }}</h{{page_title_heading_level}}>
	{% if event.subtitle %}
   		<p class= "standout"><strong>{{ event.subtitle }}</strong></p>
	{% endif %}
{% endblock pagetitle %}


{% block main_page_body %}
    {% block entity_information %}
        <div class="row columns3">
        	<div class="column firstcolumn doublecolumn">
				{% block placeholder %}
				    {% render_placeholder event.body %}
				{% endblock placeholder %}
            </div>
			<div class="column lastcolumn">
				{% include "includes/parent.html" %}
				{% block image %}
				    {% thumbnail event.image 227x0 subject_location=event.image.subject_location as image %}
				    {% if image %}<div><img src="{{ image.url }}" /></div>{% endif %}
				{% endblock image %}				
				{% include "includes/details.html" %}
				{% with event.links as links %}
				    {% include "includes/related_links_list.html" %}
		        {% endwith %}
				{% include "includes/children.html" %}		        				
			</div>
		</div>
		<ul class = "news linkIcon">
			<li><a href = "{{ event.link_to_news_and_events_page }}">More {{ entity.short_name }} events</a></li>
		</ul>
    {% endblock entity_information %}

{% endblock main_page_body %}
{% block sub %}{% endblock sub %}