{% extends "arkestra/universal_plugin_list_item.html" %}
{% block item_title %}

	{% if item.show_parent_series %}
		<a class="title" href="{{ item.parent.get_absolute_url }}">{{item.parent.get_short_title}}</a><br />

        {% if item.is_uninformative %}
            <span >{{ item.short_title }}</span>
        {% else %}
    		{% if item.external_url %}
    			<a class = "external" href="{{ item.get_absolute_url }}">{{item.short_title}}</a> - <span class="site-name">{{ item.external_url.external_site }}</span>
    		   {% else %}
    			<a href="{{ item.get_absolute_url }}">{{item.short_title}}</a>
    		{% endif %}
    	{% endif %}
    	
	{% else %}
	
        {% if "details" in everything.format and item.is_uninformative  %}
            <span class="title">{{ item.short_title }}</span>
        {% else %}
    		{% if item.external_url %}
    			<a class = "external title" href="{{ item.get_absolute_url }}">{{item.short_title}}</a> - <span class="site-name">{{ item.external_url.external_site }}</span>
    		   {% else %}
    			<a class = "title" href="{{ item.get_absolute_url }}">{{item.short_title}}</a>
    		{% endif %}
    	{% endif %}
    
    {% endif %}
	
{% endblock item_title %}

{% block item_date %}<div class = "date">{{ item.get_dates }}{% if item.get_times %}, {{ item.get_times|safe }}{% endif %}</div>{% endblock item_date %}

{% block item_details %}
{{ block.super }}{% ifnotequal everything.type "for_place" %}{% if item.building %}<div class = "date"><a href="{{item.building.get_absolute_url}}">{{ item.building.get_name }}</a></div>{% endif %}{% endifnotequal %}{% endblock item_details%}