{% extends event.template %}
{% load events_tags %}
{% load placeholder_tags %}
{% load humanize %}
{% load typogrify_tags %}
{% load thumbnail %}

{% block meta %}
	<meta name="description" content="{{event.summary}}"/>
{% endblock meta %}

{% block title %}
	<title>{{event.type}}: {{ event }}</title>
{% endblock %}


{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{PAGE_TITLE_HEADING_LEVEL}}>{{ event }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
	{% if event.summary %}
   		<p class= "subtitle"><strong>{{ event.summary }}</strong></p>
	{% endif %}
{% endblock pagetitle %}


{% block main_page_body %}
{% with placeholder_width=main_item_width %}
    {% block entity_information %}
        <div class="row columns3">
        	<div class="column firstcolumn doublecolumn">
				{% block placeholder %}
				    {% render_placeholder event.body %}
				{% endblock placeholder %}
            </div>
			<div class="column lastcolumn">
				{% include "includes/parent.html" %}
				{% block image %}{% if not event.body.cmsplugin_set.all %}
				    {% thumbnail event.image.file sidebar_image_size subject_location=event.image.subject_location as image %}
				    {% if image %}<div><img src="{{ image.url }}" /></div>{% endif %}{% endif %}
				{% endblock image %}				
				{% include "includes/details.html" %}
				{% with event.links as links %}
				    {% include "includes/related_links_list.html" %}
		        {% endwith %}
				{% include "includes/children.html" %}		        				
			</div>
		</div>
		<ul class = "news icons">
			<li><a href = "{{ event.link_to_news_and_events_page }}">More {{ entity.short_name }} events</a></li>
		</ul>
    {% endblock entity_information %}
{% endwith %}
{% endblock main_page_body %}
{% block sub %}{% endblock sub %}