{% extends "arkestra/universal_plugin_list_item.html" %}
{% block item_title %}
	{% if item.show_parent_series %}
		<a class="title" href="{{ item.parent.get_absolute_url }}">{{item.parent.get_short_title}}</a>
	{% endif %}
	
	{% if item.external_url %}
		<a class="external {% if not item.show_parent_series %}title{% endif %}" href="{{ item.external_url.url }}">{{item.short_title}}</a> - <span class="site-name">{{ item.external_url.external_site }}</span>
	{% else %}
		{% if item.show_parent_series %}
			{% ifequal item.get_absolute_url item.parent.get_absolute_url %}
				{{ item.get_short_title }}
			{% else %}
				<a {% href="{{ item.get_absolute_url }}">{{item.get_short_title}}</a>
			{% endifequal %}			
		{% else %}
			<a {% class="title" href="{{ item.get_absolute_url }}">{{item.get_short_title}}</a>
		{% endif %}
	{% endif %}
{% endblock item_title %}

{% block item_date %}<div class = "date">{{ item.get_dates }}{% if item.get_times %}, {{ item.get_times|safe }}{% endif %}</div>{% endblock item_date %}

{% block item_details %}
{{ block.super }}{% ifnotequal everything.type "for_place" %}{% if item.building %}<div class = "date"><a href="{{item.building.get_absolute_url}}">{{ item.building.get_name }}</a></div>{% endif %}{% endifnotequal %}{% endblock item_details%}