{% extends template %}
{% load events_tags %}
{% load link_tags %}
{% load placeholder_tags %}
{% load humanize %}
{% load typogrify %}
{% load thumbnail %}

{% block columns %}
	@import url("/media/css/_layout/horiz/100.css");
{% endblock columns %}

{% block meta %}
	<meta name="description" content="{{event.subtitle}}"/>
{% endblock meta %}

{% block title %}
	<title>{{event.type}}: {{ event }}</title>
{% endblock %}


{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{page_title_heading_level}}>{{ event }}</h{{page_title_heading_level}}>
	{% if event.subtitle %}
   		<p class= "standout"><strong>{{ event.subtitle }}</strong></p>
	{% endif %}
{% endblock pagetitle %}


{% block main_page_body %}
    {% block entity_information %}
        <div class="row columns3">
        	<div class="column firstcolumn doublecolumn">
				{% block placeholder %}
				    {% render_placeholder event.body %}
				{% endblock placeholder %}
            </div>
			<div class="column lastcolumn">
				{% include "includes/parent.html" %}
				{% block image %}
				    {% thumbnail event.image 227x0 subject_location=event.image.subject_location as image %}
				    {% if image %}<div><img src="{{ image.url }}" /></div>{% endif %}
				{% endblock image %}				
				{% include "includes/details.html" %}
				{% if links %}
						{% regroup links by wrapped_destination_obj.heading as link_types %}
						{% for kind in link_types %}
						<h3>{{kind.grouper}}</h3>
		                <ul class= "none">
		                	{% for link in kind.list %}
		                		<li>
		                			<a href = "{{ link.url }}">{% if link.text %}{{ link.text }}
		                				{% else %}{{ link.destination_content_object }}
		                				{% endif %}
		                			</a>{% if link.include_description and link.description %}<br />{{ link.description }}{% endif %}
		                		</li>
		                	{% endfor %}
		                </ul>
						{% endfor %}
		        {% endif %}
				{% include "includes/children.html" %}		        				
			</div>
		</div>
        {% if entity.website %}
    		<ul class = "news linkIcon">
    			<li><a href = "{{entity.get_absolute_url}}news-and-events/">More {{ entity.short_name }} events</a></li>
    		</ul>
		{% endif %}
    {% endblock entity_information %}

{% endblock main_page_body %}
{% block sub %}{% endblock sub %}