{% extends template %}
{% load humanize %}
{% load typogrify %}
{% load news_tags %}
{% load humanize %}
{% load typogrify %}
{% load link_tags %}
{% load thumbnail %}

{% block columns %}
	{% get_links as links %}
	{% if links %}@import url("/media/css/_layout/horiz/80_20.css");
	{% else %}@import url("/media/css/_layout/horiz/100.css");
    {% endif %}
{% endblock columns %}

{% block meta %}
	<meta name="description" content="{{newsarticle.subtitle}}"/>
{% endblock meta %}

{% block title %}
	<title>{{ newsarticle }}</title>
{% endblock %}

{% block skip_and_language %}
{% endblock %}

{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{page_title_heading_level}}>{{ newsarticle }}</h{{page_title_heading_level}}>

	{% if newsarticle.subtitle %}
   		<p class= "subtitle"><strong>{{ newsarticle.subtitle }}</strong></p>
	{% endif %}
{% endblock pagetitle %}


{% block main_page_body %}
    {% block entity_information %}
		<div class="row">
			 <div class = "">
					<dl>
						{% newsarticle_date %}
					    {% if newsarticle.enquiries.all %}
	    				    <dt>General enquiries</dt>
	    				    <dd>
								{% for person in newsarticle.enquiries.all %}
									<dd>
										<a href = "{{ person.get_absolute_url }}">{{ person }}</a>
									</dd>
								{% endfor %}
	    				    </dd>
					    {% endif %}
					</dl>    
				</div>
			<div>						{% thumbnail newsarticle.image 300x300 subject_location=newsarticle.image.subject_location as image %}{% if image %}<img class="right" src="{{ image.url }}" />{% endif %}
{{ newsarticle.content|safe }}
{% render_placeholder newsarticle.body %}</div>  
			<ul class = "news linkIcon">
				<li><a href = "{{entity.get_absolute_url}}news-and-events/">More {{ entity.short_name }} news</a></li>
			</ul>
		</div>	

    {% endblock entity_information %}

{% endblock main_page_body %}