{% extends template %}
{% load humanize typogrify news_tags humanize link_tags thumbnail placeholder_tags %}

{% block columns %}
	{% get_links as links %}
{% endblock columns %}

{% block meta %}
	<meta name="description" content="{{newsarticle.subtitle}}"/>
{% endblock meta %}

{% block title %}
	<title>{{ newsarticle }}</title>
{% endblock %}


{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{page_title_heading_level}}>{{ newsarticle }}</h{{page_title_heading_level}}>

	{% if newsarticle.subtitle %}
   		<p class= "subtitle"><strong>{{ newsarticle.subtitle }}</strong></p>
	{% endif %}
{% endblock pagetitle %}


{% block main_page_body %}
    {% block entity_information %}
        <div class="row columns3">
        	<div class="column firstcolumn doublecolumn">
				{{ newsarticle.content|safe }}
				{% render_placeholder newsarticle.body %}
			</div>
			<div class="column lastcolumn">
				{% thumbnail newsarticle.image 227x0 subject_location=newsarticle.image.subject_location as image %}
				{% if image %}<div><img class="fl oatRight" src="{{ image.url }}" /></div>{% endif %}				
				<dl>
					{% newsarticle_date %}
					{% if newsarticle.enquiries.all %}
	 				    <dt>General enquiries</dt>
	 				    {% for person in newsarticle.enquiries.all %}
							<dd><a href = "{{ person.get_absolute_url }}">{{ person }}</a></dd>
						{% endfor %}
					{% endif %}
				</dl>    
				{% if links %}
					{% regroup links by wrapped_destination_obj.heading as link_types %}
					{% for kind in link_types %}
						<h3>{{kind.grouper}}</h3>
		                <ul class= "none">
		               	{% for link in kind.list %}
		               		<li>
		               			<a href = "{{ link.url }}">{% if link.text %}{{ link.text }}
		               				{% else %}{{ link.destination_content_object }}
		               				{% endif %}
		               			</a>{% if link.include_description and link.description %}<br />{{ link.description }}{% endif %}
		               		</li>
		               	{% endfor %}
		               </ul>
					{% endfor %}
			    {% endif %}
			</div>
		</div>
		<ul class = "news linkIcon">
			<li><a href = "{{entity.get_absolute_url}}news-and-events/">More {{ entity.short_name }} news</a></li>
		</ul>
    {% endblock entity_information %}
{% endblock main_page_body %}