{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n cms_admin cms_js_tags %}
{% block title %}List of events{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block coltype %}flex{% endblock %}
{% block extrahead %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cms/css/pages.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cms/jstree/tree_component.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cms/css/jquery.dialog.css" />


<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.livequery.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.ui.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.bind.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.ui.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.ui.effects.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.ui.effects.highlight.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/jstree/_lib/_all.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/jstree/tree_component.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.ui.dialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.functional.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/change_list.js"></script>



{% if cl.is_filtered %}
<link rel="stylesheet" type="text/css" href="{{ CMS_MEDIA_URL }}jstree/themes/default/style.css" />
{% endif %}
{% endblock %}

{% block content %}
<script type="text/javascript">
	function showchangelistfilter(){
		$("#changelist-filter").toggle();
	}
	function moveSuccess(node){
		var msg = $('<span class="success">{% trans "Successfully moved" %}</span>');
		node.append(msg);
	    msg.fadeOut(3000);
	}
	function moveError(node){
		var msg = $('<span class="success">An error occurred. Please reload the page</span>');
		node.append(msg);
	}
	
	$(document).ready(function() {
		{% if not cl.is_filtered %}
		initTree();
		{% endif %}
		
	});	
	settings = {
		debug: true,
	};
</script>

<div id="content-main"{% if cl.is_filtered %} class="activ-filter"{% endif %}>
{% block object-tools %}
	<ul class="object-tools">
		{% if has_add_permission %}
		<li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
		{% endif %}
	</ul>
	{% include "admin/cms/page/loading.html" %}
{% endblock %}
	
<div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">

{% include "admin/news_and_events/event/change_list_tree.html" %}

</div>
</div>

{% endblock %}
