{% load thumbnail %}
{% spaceless %}
{% if focuson.heading_level %}
	<h{{ focuson.heading_level }}>Focus on&#8230; {{ focuson.short_text }}</h{{ focuson.heading_level }}>{% endif %}
	{% if focuson.image %}{% thumbnail focuson.image.file 75x75 crop subject_location=focuson.image.subject_location as image %}<img class="right" src="{{ image.url }}" />{% endif %}

    <div class="link-description">{{ focuson.description }}</div>

    <ul class = "fancy"><li><strong><a href="{{ focuson.url }}">{{ focuson.text }}</a></strong></li></ul>

{% endspaceless %}