{% if full_address %}
<dt>Address</dt>
<dd>
	<strong>{{ entity }}</strong>
	<br />
	{{ full_address|join:"<br />" }}
	{% if building.map %}<p><a href="{{ building.get_absolute_url }}">map &amp; directions<br /> 
	    <img alt="map" src="http://maps.googleapis.com/maps/api/staticmap?center={{ building.latitude }},{{ building.longitude }}&zoom={{ building.zoom }}&size={{ person_entity_map_size }}&markers=color:red|{{ building.latitude }},{{ building.longitude }}&sensor=false" />
	    </a></p>{% endif %}
</dd>
{% endif %}