{% load entity_tags %}
{% load thumbnail %}
{% load typogrify %}
{% block entity_information %}
	<div class="row columns2">
	   	<div class="column firstcolumn">
			<div class = "">
			    <h3>Contact information</h3>
			    <dl>
			        {% include "includes/key_contacts.html" %}
	   		        {% include "includes/address.html" %}
	                {% include "includes/precise_location.html" %}
	   		        {% include "includes/access_notes.html" %}
	                {% include "includes/email.html" %}
	   		        {% include "includes/phone_contacts.html" %}
			    </dl>
			    {% thumbnail entity.image 388x540 subject_location=entity.image.subject_location as image.get_url %}{% if image %}<img src="{{ image.url }}" alt = "" />{% endif %}
			</div>
		</div>
		{% if roles %}
			<div class="column lastcolumn"> 
				<div class="">
				    <h3>Key people</h3>
	  		        {% include "includes/entity_roles.html" %}
				</div>
			{% endif %}	
			{% if initials_list %}
				<h3>Index: {{ people|length }} members A-Z by surname</h3>
				<ul class= "index">
					{% for initial in initials_list %}
						<li><a href="{{entity.get_absolute_url}}contact/people/{{initial|lower}}/">{{ initial }}</a></li>
					{% endfor %}
				</ul>	
			{% endif %}
			{% if people %}
				<p><strong><a href="{{entity.get_absolute_url}}contact/people/">All members by surname</a></strong></p>
			{% endif %}
		</div>
	</div>
	
{% endblock entity_information %}
