{% comment %}

Used by: views.contacts_and_people, entity_tags.people_with_roles 

When provided with a list of people, then for each one will also display the best membership it can find.

{% endcomment %}
<ul class="none">
	{% for person in people %}
    	<li><strong><a href="{{ person.get_absolute_url }}">{{ person }}</a></strong><br />{{ person.membership.role}}{% ifnotequal entity person.membership.entity %} ({% if person.membership.entity.get_website %}<a href = "{{ person.membership.entity.get_website_url }}">{{ person.membership.entity.short_name }}</a>{% else %}{{ person.membership.entity.short_name }}{% endif %}) {% endifnotequal %}	
		</li>
	{% endfor %}
</ul>