{% comment %}

Used by: views.people 

Lists members of an entity - either all people by surname, or surnames beginning {{ letter }}.

{% endcomment %}
{% load entity_tags %}
<div class="row columns2">
   	<div class="column firstcolumn">
		<h3 style="clear:both">{% if letter %}People: surnames beginning {{letter|upper}}{% else %}All people by surname{% endif %}</h3>
		{% people_with_roles letter %}
	</div>
	<div class="column lastcolumn"> 
	{% if initials_list %}
		<h3>Index of people by surname</h3>
		<ul class="index">
			{% for initial in initials_list %}
				<li><a href="/people/{{ entity.slug }}/{{initial|lower}}/">{{ initial }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
	</div>
</div>