{% block doctype %}<!DOCTYPE html>{% endblock doctype %}
{% load cms_tags sekizai_tags menu_tags typogrify_tags insert_tags %}
{% block html_tag %}<html lang="en" >{% endblock html_tag %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    {% block meta %}
    	{% if meta.items %}
    		{% for name,content in meta.items %}
    			<meta name="{{ name }}" content="{{ content }}" />
    		{% endfor %}
    	{% else %}
    		<meta name="description" content="{% page_attribute meta_description %}"/>
    	{% endif %}
    {% endblock meta %}

{% block title %}<title>{% page_attribute title %}</title>{% endblock %}

{% block scripts %}{% endblock scripts %}

{% block favicon %}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}arkestra/images/arkestra-favicon.png">
{% endblock favicon %}

{% render_block "css" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_lists.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_images.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_layout.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/arkestra_presentation_editor.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/temporaryhacks.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}arkestra/css/carousel.css" />

<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
<!--[if lte IE 8]><link href="{{ STATIC_URL }}arkestra/css/ie-fixes/ie-lte-8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if lte IE 7]><link href="{{ STATIC_URL }}arkestra/css/ie-fixes/ie-lte-7.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if lte IE 6]><link href="{{ STATIC_URL }}arkestra/css/ie-fixes/ie-lte-6.css" rel="stylesheet" type="text/css" /><![endif]-->

{% block extrastyles %}
{% endblock extrastyles %}

{% block site_styles %}
{% endblock site_styles %}

{% endblock styles %}

{% render_block "js" %}
</head>

<body {% block body_attributes %}{% endblock body_attributes %}>
    {% cms_toolbar %}
    {% with placeholder_width=960 generic_main_width=628 sidebar_image_size="294x196" entity_image_size="445x384" entity_map_size="445x100" person_map_size="445x100" sidebar_map_size="296x100" person_image_size="460x460" person_thumbnail_size="60x60" lightbox_max_dimension=600 plugin_thumbnail_size="75x75" place_main_width=627 place_image_size="627x418" place_map_size="294x182" body_heading_level=2 %}
    	{% block body_content %}
    		<div id="outer-wrapper">
				{% block outer_wrapper_top %}{% endblock %}
    			<div id="inner-wrapper">
    				{% block menu %}<nav><ul class= "menu">{% show_menu 0 100 100 100 "cms/arkestra_menu.html" "" "" %}</ul></nav>{% endblock menu %}

        			<div id="main-page-body">
        				{% block main_page_body %}

            				{% block pagetitle %}
                                <div id="pagetitle">
                					{% if not current_page.flags.no_page_title %}
                			           	<h{{PAGE_TITLE_HEADING_LEVEL}}>{% filter amp|smartypants|caps|initial_quotes %}{% page_attribute title %}{% endfilter %}</h{{PAGE_TITLE_HEADING_LEVEL}}>
                					{% endif %}
                                </div>
            				{% endblock pagetitle %}

                            {% block summary %}{% endblock summary %}

                            {% filter amp|smartypants|caps|initial_quotes %}
        						{% insert "newsflash" %}
        				   		{% placeholder body %}
        					{% endfilter %}

        			  	{% endblock main_page_body %}
        			</div>

    			</div>
				{% block footer %}
					{% insert "footer" %}
				{% endblock footer %}
    		</div>
    	{% endblock body_content %}
    {% endwith %}
</body>
{% block post_body_scripts %}{% endblock post_body_scripts %}
</html>
