{% if video.service == "youtube" %}
	<iframe id="youtubeplayer-{{ embeddedvideoset.id }}" 
		type="text/html" 
		width="{{ width }}" 
		height="{{ height }}"
	  	frameborder="0"
	    src="http://www.youtube.com/embed/{{ video.video_code }}?autoplay={{ video.video_autoplay|yesno:"1,0,0" }}&modestbranding=0&theme=light"
	/>
	</iframe>

{% elif video.service == "vimeo" %}
	<iframe 
		id="vimeoplayer-{{ embeddedvideoset.id }}" 
		width="{{ width }}" 
		height="{{ height }}"
		frameborder="0" 
		webkitAllowFullScreen mozallowfullscreen allowFullScreen
		src="http://player.vimeo.com/video/{{ video.video_code }}?autoplay={{ video.video_autoplay|yesno:"1,0,0" }}" 
	/>
	</iframe>
	
{% endif %}