{% spaceless %}
{% load sekizai_tags thumbnail %}

{% addtoblock "css" %}      
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/css/jquery.fancybox-1.3.4.css" media="screen" />  
{% endaddtoblock %}

{% addtoblock "js" %}
    <!-- jQuery (required) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
	<script src="{{ STATIC_URL }}fancybox/js/jquery.mousewheel-3.0.4.pack.js"></script>
	<script src="{{ STATIC_URL }}fancybox/js/jquery.fancybox-1.3.4.pack.js"></script> 
    <script src="{{ STATIC_URL }}fancybox/js/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript">
    var fancyBOX = jQuery.noConflict();
    fancyBOX(document).ready(function() {

        fancyBOX("a.fancy").fancybox({
            'transitionIn'      : 'elastic',
            'transitionOut'     : 'fade',
            'easingIn'          : 'swing',
            'easingOut'         : 'swing',
            'speedIn'           : 100,
            'speedOut'          : 100
	        });
		});
	</script>
        
{% endaddtoblock %}
<ul class="imageset multiple lightbox" style="width: {{ imageset.container_width }}px;">
	{% for item in imageset.items %}
		<li class="image link {% if item.lastinrow %}lastinrow{% endif %}">      
			<a class="fancy" href="/arkestra-lightbox-item/{{ item.id }}">
			    {% if item.link_title %}<span  class="image-title">{{ item.link_title }}</span>{% endif %}
				<img class="fancybox-icon" alt="{{ item.image.name }}"  src="{% thumbnail item.image.file item.image_size crop subject_location=item.image.subject_location %}" />
		   	</a>
		</li>
	{% endfor %}
</ul>


{% endspaceless %}
