{% spaceless %}
<ul class="imageset multiple" style="width: {{ imageset.container_width }}px;">
	{% for item in imageset.items %}
		<li 
		    id="imageset-item-{{ item.plugin.id }}-{{ item.id }}"
		    class="
		        image {{imageset.float}}
		            {% if item.url and imageset.items_have_links %}link{% endif %}
		            {%if item.lastinrow %}lastinrow{% endif %}
		        ">
			{% include "arkestra_image_plugin/includes/imageset_item.html" %}
		</li>
    {% endfor %}
</ul>
{% endspaceless %}