{% load sekizai_tags %}
{% spaceless %}
{% addtoblock "css" %}
	<style>
		ul.imageset li.image {
		    padding-top: {{ imageset.padding }}px;
		    padding-bottom: {{ imageset.padding }}px;
		    margin-right: {{ imageset.padding|add:imageset.padding }}px;
		}
	</style>
{% endaddtoblock %}
<ul class="imageset multiple" style="width: {{ imageset.container_width }}px;">
	{% for item in imageset.items %}
		<li
		    id="imageset-item-{{ item.plugin.id }}-{{ item.id }}"
		    class="
		        image
		            {% if item.url and imageset.items_have_links %}link{% endif %}
		            {%if item.lastinrow %}lastinrow{% endif %}
		        ">
			{% include "arkestra_image_plugin/includes/imageset_item.html" %}
		</li>
    {% endfor %}
</ul>
{% endspaceless %}