{% load thumbnail filer_tags filer_image_tags %}{% spaceless %}
<span class = "image {{imageset.float}}"><img alt="{% if imageset_item.alt %}{{ imageset_item.alt }}{% endif %}" class="plugin" src="{% thumbnail imageset_item.image.file image_size crop subject_location=imageset_item.image.subject_location %}" width="{{ image_width }}" height="{{ image_height }}" />
	{% if imageset_item.caption %}<span style="width: {{caption_width}}px" class="image_caption">{{ imageset_item.caption }}</span>{% endif %}
	{% if imageset_item.show_author %}
	    <span class="image_author">(Author: {{ imageset_item.image.author }})</span>
	{% endif %}
</span>{% endspaceless %} 