{% load sekizai_tags thumbnail %}
<ul id="{{ imageset|default:"slider"}}">
	{% for item in imageset.items %} 
    	<li><img src="{% thumbnail item.image icon_size crop subject_location=item.image.subject_location %}" alt=""></li>			
	{% endfor %}
</ul>
	

{% addtoblock "css" %}
<!-- AnythingSlider -->
<link rel="stylesheet" href="{{ STATIC_URL }}slider/css/anythingslider.css">
<link rel="stylesheet" href="{{ STATIC_URL }}slider/css/theme-minimalist-square.css">
<style>
	#{{ imageset|default:"slider"}} {
	width: {{ icon_size.0 }}px;
	height: {{ icon_size.1 }}px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}
div.anythingSlider-minimalist-square {
	padding: 0;
}
div.anythingSlider-minimalist-square .anythingWindow {
	border: none;
}
div.anythingSlider-minimalist-square.activeSlider .anythingWindow {
	border-color: red;
}
div.anythingSlider-minimalist-square.activeSlider .anythingControls ul a {
	background-color: gray;
}

</style>
{% endaddtoblock %}

{% addtoblock "js" %}
        <!-- jQuery (required) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}jquery/jquery.js"><\/script>')</script>
	<!-- Anything Slider optional plugins -->
	<script src="{{ STATIC_URL }}slider/js/jquery.easing.1.2.js"></script>
	<script src="{{ STATIC_URL }}slider/js/swfobject.js"></script>
        <!-- AnythingSlider -->
	<script src="{{ STATIC_URL }}slider/js/jquery.anythingslider.min.js"></script>
	<!-- AnythingSlider video extension; optional, but needed to control video pause/play -->
	<script src="{{ STATIC_URL }}slider/js/jquery.anythingslider.video.min.js"></script>
        <!-- Anything Slider setup -->
        <script>
		// Set up Sliders
		// **************
		$(document).ready(function(){
			$('#{{ imageset|default:"slider"}}').anythingSlider({
				theme: "minimalist-square",
				toggleArrows: true,
				toggleControls: false,
				autoPlay: true,
				buildStartStop: false,
				delay: 5000
				});
		});
	</script>
{% endaddtoblock %}    