{% extends "housekeeping/housekeeping.html" %}
{% block operations %}
{% block title %}
    <title>Convert text fields to plugins</title>
{% endblock title %}

<h3>Summary</h3>
{% ifnotequal execute "convert" %}
    <p>This is a <strong>dry run</strong>. Nothing has been changed.</p>
    <p>Please check the results. If you are satisfied, <a href="/housekeeping/convert_to_placeholders/convert/">perform the actions listed below</a>, or <a href="/housekeeping/convert_to_placeholders/dryrun/">do another dry run</a>.</p>
{% else %}
    <p><a href="/housekeeping/convert_to_placeholders/dryrun/">Perform a dry run instead</a>. It's probably too late though.</p>

{% endifnotequal %}  

<ul>
    {% for model, fields in converted.messages.items %}
        <li>{{ model }}
            <ul>
                {% for field, issues in fields.items %}
                    <li><em>{{field }}</em>
                        <ul>
                            {% for issue, message in issues.items %}
                                <li>{{ issue }}: {{ message }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>            
    {% endfor %}
</ul>    
<h3>Report</h3>
<ul>
    {% for module in converted.modules.values %}
    <li>
        {{ module.application }}
		<ul>
            {% for model in module.models.values %}
            <li>{{ model.model }}
                <ul>{% for action, items in model.actions.items %}
					<li>{{ action }} ({{ items|length}} items)
						<ul>
						{% for item in items %}
							<li>{{ item.status }}: <a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
						{% endfor %}
						</ul>	
					</li>
					{% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

    </li>
    {% endfor %}
</ul>                

{% endblock operations %}