{% extends entity.get_template %}
{% comment %}

Extends the base page template, and includes the main_page_body_file specified in the view.

{% endcomment %}
{% load typogrify_tags %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}
  
{% block col_class %}
	{% with is_menu_node="True" %}
		{{ block.super }}
	{% endwith %}
{% endblock col_class %}

{% block skip_and_language %}
{% endblock %}

{% block pagetitle %}
    <h{{PAGE_TITLE_HEADING_LEVEL}}>{{ pagetitle|typogrify }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
{% endblock pagetitle %}

{% block main_page_body %}
	{% with placeholder_width=200 %}
		{% include main_page_body_file %}
	{% endwith %}
{% endblock main_page_body %}
