{% extends entity.get_template %}
{ % load mptt_tags %}
{ % load entity_tags %}
{% load link_tags %}
{% load cms_tags %}
{% load typogrify %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block columns %}	
	@import url("/media/css/_layout/horiz/20_80.css");
{% endblock columns %}
  
{% block skip_and_language %}
{% endblock %}

{% block pagetitle %}
    <h{{PAGE_TITLE_HEADING_LEVEL}}>{{ pagetitle|typogrify }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
{% endblock pagetitle %}

{% block main_page_body %}
	{% include main_page_body_file %}
{% endblock main_page_body %}