{% load thumbnail %}
<a href="{{ item.url }}"{% if item.html_title_attribute %} title="{{ item.html_title_attribute }}"{% endif %} class="title">{{ item }}</a>

{% if "image" in item.format and item.image %}

    {% thumbnail item.image.file plugin_thumbnail_size crop subject_location=item.image.subject_location quality=thumbnail_quality as image %}
    <img class="right" src="{{ image.url }}" alt="" />
{% endif %}

{% if "details" in item.format and item.summary %}
    <span class="link-description">{{ item.summary }}</span>
{% endif %}

{% if "contact" in item.format %}
    <span class="link-description">
        {% if item.get_building.map %}
            <a href="{{ item.get_building.get_absolute_url }}map/">{{ item.get_full_address|join:", " }}</a>
        {% else %}
            {{ item.get_full_address|join:", " }}
        {% endif %}

    </span>
    <span class="link-description">
        {{ item.email|urlize }}
        {% for phone_number in item.phone %}<br>
            +{{ phone_number.country_code }} {{ phone_number.area_code }} {{ phone_number.number }}{% if phone_number.internal_extension %}, ext. {{ phone_number.internal_extension }} {% endif %} {% if phone_number.label %} ({{ phone_number.label }}){% endif %}
    {% endfor %}
    </span>

{% endif %}