{% extends template %}
{% load mptt_tags person_tags thumbnail typogrify_tags news_and_events_tags placeholder_tags %}

{% block meta %}
	{% for name, content in meta.items %}
		<meta name="{{ name }}" content="{{ content }}" />
	{% endfor %}
{% endblock meta %}

{% block title %}
	<title>{{ test }}{{ person }}</title>
{% endblock %}

{% block skip_and_language %}
{% endblock %}


{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{PAGE_TITLE_HEADING_LEVEL}} class="name">
        {{ person}}
    </h{{PAGE_TITLE_HEADING_LEVEL}}>
	{% if home_role %}
		<p><span class="home-role">{{ home_role.role }}</span>, {{ entity }}</p>
	{% endif %}
{% endblock pagetitle %}

{% block main_page_body %}
	{% block arkestra_content %}
        {% thumbnail person.image.file person_image_size subject_location=person.image.subject_location crop as image %}
        {% include "arkestra/tabbed_menu.html" %}
		{% block person_information %}
    		<div class="row columns2">
    			<div class="column firstcolumn">
    				<div>
                    	{% with placeholder_width=person_description_width %}
                            {% if person.description.cmsplugin_set.all %}
                                <h{{ IN_BODY_HEADING_LEVEL }}>
                                    About
                                </h{{ IN_BODY_HEADING_LEVEL }}>
    						    {% render_placeholder person.description %}
                            {% endif %}
                    	{% endwith %}
						{% if building or address or location or access_note or email or phone.all %}
                            <h{{ IN_BODY_HEADING_LEVEL }}>
                                Contact information
                            </h{{ IN_BODY_HEADING_LEVEL }}>
    						<dl class="not-indented">
        						{% with person_map_size as map_size %}
        							{% include "includes/contact_information.html" %}
        						{% endwith %}
    						</dl>
						{% endif %}
						{% with person.links as links %}
						    {% include "includes/related_links_list.html" %}
				        {% endwith %}
					</div>
				</div>
				<div class="column lastcolumn">
					<div class = "">
						{% if image %}
                            <img src="{{ image.url }}" alt="" />
                        {% endif %}
						{% if person.real_entity_memberships.count > 1 %}
							<h{{ IN_BODY_HEADING_LEVEL }}>
                                Roles & memberships
                            </h{{ IN_BODY_HEADING_LEVEL }}>
							{% membership_tree_roots person %}
						{% endif %}
						{% person_events %}
					</div>
				</div>
			</div>
		{% endblock person_information %}
	{% endblock arkestra_content %}
{% endblock main_page_body %}