{% extends "contacts_and_people/persondetails.html" %}
{% load publications_tags %}

{% block meta %}
	<meta name="description" content="Research overview for {{ person}}, {{ home_role.role }}{% if person.override_entity %}, {{ home_role.entity}}{% endif %}"/>
{% endblock meta %}

{% block title %}
	<title>{{ person }} - Research </title>
{% endblock %}
{% block page_title %}
	<h{{PAGE_TITLE_HEADING_LEVEL}} class="name">{{ person}} - Research</h{{PAGE_TITLE_HEADING_LEVEL}}>
{% endblock page_title %}

{% block person_information %}
  {% if person.researcher.research_synopsis or person.researcher.research_description %}
    <div>
        <h{{ IN_BODY_HEADING_LEVEL }}>Research overview</h{{ IN_BODY_HEADING_LEVEL }}>
        <div>{{person.researcher.research_synopsis|safe}}</div>
        <div>{{person.researcher.research_description|safe}}</div>
    </div>
	{% endif %}
  <div>
      <h{{ IN_BODY_HEADING_LEVEL }}>Selected key publications</h{{ IN_BODY_HEADING_LEVEL }}>
     {% get_selected_person_publications %}
  </div>
{% endblock person_information %}