{% extends template %}
{% load thumbnail news_and_events_tags typogrify placeholder_tags %}

{% block title %}
	<title>{{ place.get_name }}</title>
{% endblock %}

{% block columns %}	
{% endblock columns %}


{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{PAGE_TITLE_HEADING_LEVEL}} class="name">{{ place.get_name }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
{% endblock pagetitle %}

{% block main_page_body %}
    {% if tabs %}
		<ul id="tab_menu">
			{% for tab in tabs %}
				{% if tab.active %}
					<li class="active"> 
						<span>{{tab.title|capfirst}}</span>
					</li>
				{% else %}
					<li> 
						<a href="{{ place.get_absolute_url }}{{tab.address}}">{{tab.title|capfirst}}</a>
					</li>            
				{% endif %}        
			{% endfor %}
		</ul>    
	{% endif %}
	{% block place_information %}
		<p class="standout">{{ place.summary|typogrify }}</p>
        <div class="row columns3">
    		<div class="column firstcolumn">
    			<h2>Address</h2>
    		   {{ place.get_postal_address|join:"<br />" }}
			
    		</div>
    		<div class="column lastcolumn doublecolumn"> 
				{% render_placeholder place.description %}
				{% thumbnail place.image.file 450x450 subject_location=place.image.subject_location crop as image %}{% if image %}<p><img src="{{ image.url }}" alt="" /></p>{% endif %}
			</div>	
    	</div>	
	{% endblock place_information %}
{% endblock main_page_body %}