{% extends "contacts_and_people/place.html" %}{% load thumbnail news_and_events_tags typogrify_tags placeholder_tags %}

{% block extrastyles %}
{{ block.super }}
<link href="{{ STATIC_URL }}arkestra/css/arkestra_maps.css" rel="stylesheet" type="text/css" />
{% endblock extrastyles %}


{% block scripts %}
{{ block.super }}
{% if place.has_map %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/arkestra/js/maps/markerwithlabel.js"></script>
<script type="text/javascript">
	var infowindow = null;

	function initialize() {
		var latlng = new google.maps.LatLng({{ place.latitude }}, {{place.longitude}});

	    var myOptions = {
  		  panControl: false,
	      zoom: {{ place.zoom }},
	      center: latlng,
	      mapTypeId: google.maps.MapTypeId.ROADMAP,
		  scaleControl: true,
    	  scaleControlOptions: {
          position: google.maps.ControlPosition.BOTTOM_RIGHT
     	  },		
		}

	    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var placeMarker = setMarkers(map);

        infowindow = new google.maps.InfoWindow({maxWidth: 300})
        
    }

	function setMarkers(map, latlngbounds) {

	    var pMarker = null;

	    var latlngbounds = new google.maps.LatLngBounds( );

		{% for p in place.site.building_set.all %}
		
		{% if p.latitude and p.longitude and p.zoom and p.map %}
			
			var siteLatLng = new google.maps.LatLng({{p.latitude}}, {{p.longitude}});

	        latlngbounds.extend(siteLatLng);
	
		    var marker = new MarkerWithLabel({
	       		position: siteLatLng,
	       		map: map,
	            {% ifequal place p %}
    	            animation: google.maps.Animation.DROP,
    	            icon: 'http://maps.google.com/mapfiles/ms/micons/blue-dot.png',
    	            zIndex: 10000,
    				labelClass: "labels main-label", // the CSS class for the label
	            {% else %}
    				labelClass: "labels", // the CSS class for the label
	            {% endifequal %}
				labelContent: "{{p.get_name}}",
				labelAnchor: new google.maps.Point(-15, 30),
				labelStyle: {opacity: 0.85}
	   		});


		    google.maps.event.addListener(marker, "click", function () {
			    infowindow.setContent('{% spaceless %}
					{% thumbnail p.image.file 80x80 subject_location=p.image.subject_location crop as image %}
					{% if image %}<img height="80px" width="80px" class = "right" src="{{ image.url }}" alt="" />{% endif %}<h2>{% ifnotequal place p %}<a href="{{ p.get_absolute_url }}">{{p.get_name}}</a>{% else %}{{p.get_name}}{% endifnotequal %}</h2>{{p.summary}}{% if p.forthcoming_events %}<p><a href="{{p.get_absolute_url}}events/">Events</a></p>{% endif %}{% endspaceless %}');
	            infowindow.open(map, this);
	        });
		
			{%ifequal p place%}
			    pMarker = marker;
	        {%endifequal%}
			
	    {% endif %}
	
		{% endfor %}
    
   		{% if place.site.building_set.count > 1 %}
			map.fitBounds( latlngbounds );
		{% endif %}

	    return pMarker;
	    }	
</script>
{% endif %}
{% endblock scripts %}

{% block body_attributes %}onload="initialize()"{% endblock body_attributes %}

{% block skip_and_language %}
{% endblock %}


{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{PAGE_TITLE_HEADING_LEVEL}} class="name">{{ place.get_name }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
{% endblock pagetitle %}

{% block place_information %}
	{% if place.getting_here.get_plugins %}
		<div class="{{ place.row_class }}">
			<h2>Getting here</h2>
			{% render_placeholder place.getting_here %}
		</div>	
	{% endif %}	
	{% if place.access_and_parking.get_plugins %}
		<div class="{{ place.row_class }}">
			<h2>Access & parking</h2>
			{% render_placeholder place.access_and_parking %}
		</div>
	{% endif %}
	{% if place.has_map %}
		<div class="row">
			<div id="map_canvas"></div>
		</div>	
	{% endif %}
{% endblock place_information %}