{% extends template %}
{% load thumbnail news_and_events_tags typogrify_tags placeholder_tags %}

{% block title %}
	<title>{{ place.get_name }}</title>
{% endblock %}

{% block columns %}	
{% endblock columns %}


{% block nav_local %}
{% endblock nav_local %}

{% block pagetitle %}
	<h{{PAGE_TITLE_HEADING_LEVEL}} class="name">{{ place.get_name }}</h{{PAGE_TITLE_HEADING_LEVEL}}>
{% endblock pagetitle %}

{% block main_page_body %}
    {% include "arkestra/tabbed_menu.html" %}
	{% block place_information %}
		<p class="standout">{{ place.summary|typogrify }}</p>
        <div class="row columns3">
		    {% if place.postcode or place.street %}
        		<div class="column firstcolumn">
        			<h2>Address</h2>
        		   {{ place.get_postal_address|join:"<br />" }}
        		</div>
    		{% endif %}
    		<div class="column lastcolumn doublecolumn"> 
				{% render_placeholder place.description %}
				{% thumbnail place.image.file 426x426 subject_location=place.image.subject_location crop as image %}{% if image %}<p><img class="right" src="{{ image.url }}" alt="" /></p>{% endif %}
			</div>	
    	</div>	
	{% endblock place_information %}
{% endblock main_page_body %}