{% extends "contacts_and_people/arkestra_page.html" %}
{% load publications_tags %}

{% load cms_tags %}

{% block meta %}
	<meta name="description" content="Index of publications by researchers working in {{entity.real}}"/>
{% endblock meta %}

{% block title %}
	<title>Publications by {{ entity.real }} staff</title>
{% endblock %}


    {% block main_page_body %}
	<div class="row">
    	<div class="column firstcolumn">
			{% get_all_entity_publications %}
		</div>
	</div>	
    {% endblock main_page_body %}