{% extends entity.get_template %}
{ % load mptt_tags %}
{ % load entity_tags %}
{% load link_tags %}
{% load cms_tags %}
{% load typogrify %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block meta %}
	{% for item in meta %}
		<meta name="{{ item.name }}" content="{{ item.content }}"/>
	{% endfor %}
{% endblock meta %}


{% block columns %}	
	@import url("/media/css/_layout/horiz/20_80.css");
{% endblock columns %}
  
{% block skip_and_language %}
{% endblock %}

{% block pagetitle %}
    <h{{page_title_heading_level}}>{{ pagetitle|typogrify }}</h{{page_title_heading_level}}>
{% endblock pagetitle %}

{% block nav_local %}
	<div id="nav_local">
		<ul>{% show_menu 0 100 0 1 "cms/cardiff_menu.html" %}</ul>
	</div>	
{% endblock nav_local %}

{% block main_page_body %}
	{% include main_page_body_file %}
{% endblock main_page_body %}