{% extends "contacts_and_people/entity_information.html" %}
{% load entity_tags %}

{% block columns %}	
	@import url("/media/css/_layout/horiz/100.css");
{% endblock columns %}

{% block meta %}
	<meta name="description" content="An alphabetical list of members"/>
{% endblock meta %}

{% block title %}
	<title>Members of {{ entity }}</title>
{% endblock %}

{% block entity_information %}
{% if initials_list %}
	<h3>Index: people A-Z by surname</h3>
	<ul class="index">
		{% for initial in initials_list %}
			<li><a href="{{entity.get_absolute_url}}people/{{initial|lower}}/">{{ initial }}</a></li>
		{% endfor %}
	</ul>
<h3>{% if letter %}People: surnames beginning {{letter|upper}}{% else %}All people by surname{% endif %}</h3>
	{% all_people_with_roles letter %}
{% endif %}
{% endblock entity_information %}
