/* the default horizontal menu site navigation menu */

ul.menu	{ /* the whole thing */
	text-align: left;
	} 
	
li.menu_item a	{
	text-decoration: none; 
	border: none;
}
	
li.menu_item a:hover	{
	}

li.menu_item	{ /* all items */
	display: inline; 
	width: 100%;
	list-style-type: none; 
	}

ul.menu ul { /* 2nd level list */
    display: inline; 
    text-align: right; 
    float: right; 
}
	
ul.menu ul li { /* 2nd level items */
   	position: relative; /* for the absolute drop-down */
}

ul.menu ul ul { /* 3rd level list - off by default */
	display: none;
    text-align: left;
	position: absolute;
    left: 0;
    width: 100%;
}

ul.menu ul li:hover ul { /* hovering over 2nd level displays third */
	display: block;
}

ul.menu ul ul li {
    display: list-item;
}

ul.menu ul ul ul   {
    top: -1px;
    left: 100%;
    padding-top: 0;
}

ul.menu ul ul ul li {
}

ul.menu ul ul li:hover ul    {
    display: block;
}

ul.menu li li:hover ul ul,
ul.menu li li:hover ul ul
   {display:none;}
ul.menu li li:hover ul,
ul.menu li li li:hover ul    {display:block;}

/* the default tab menu, as used for People and Places */

ul#tab-menu {
	border-bottom: 7px solid #707070;
	float:left;
	width: 100%; /* width of entire menu */
	margin: 0 0 .5em 0; /*margin underneath menu*/
	padding: 0;
	list-style: none;
}
ul#tab-menu li {
	background:url(/static/arkestra/images/tabmenu/tabmenu_bg_inactive_rt.gif) no-repeat right top;
	float:left;
	margin: 0 2px 0 0; /*gap between menu tabs*/
	padding:0;
}
ul#tab-menu a {
	background:url(/static/arkestra/images/tabmenu/tabmenu_bg_inactive_lt.gif) no-repeat left top;
	display:block;
	padding: 0.1em 1.2em;/*padding within tab*/	
}
ul#tab-menu  .active span {
	color:#fff;
	display:block;
	padding: 0.1em 1.2em;		
}
ul#tab-menu .active {
	background:url(/static/arkestra/images/tabmenu/tabmenu_bg_active_rt.gif) no-repeat right top;
	border-bottom: 1px solid #707070;
}
ul#tab-menu .active span {
	background:url(/static/arkestra/images/tabmenu/tabmenu_bg_active_lt.gif) no-repeat left top;
}
ul#tab-menu a, 
ul#tab-menu li a:link, 
ul#tab-menu li a:hover, 
ul#tab-menu li a:visited, 
ul#tab-menu li a:active{
	color:#fff;
	text-decoration:none;
	border-bottom: none;
}