/* lists */

/* we really need to fix some of these styles. the idea of a div.plugin ul li
is quite out of date now and a nuisance */

ul, dl  {margin-left: 0; padding-left: 0;}
ul ul, dl dl {margin-left: 0; padding-left: 20px;}

ul	{margin-bottom: .2em;}
ul ul, ul ul ul, ul ul ul ul, ul ul ul ul ul, ul ul ul ul ul ul {margin-bottom: 0;}


ul.entity-tree li {margin: 0; padding: 0;}
ul.entity-tree ul {margin: 0.5em 0px 0px 20px;}
ul.entity-tree li {list-style: none;}

ol {list-style: decimal inside;}
ol li {padding-bottom: .5em;}



/* icons */
ul.no-marker {list-style-type: none;}

/* plugin list items */

ul.plugin-list {margin-top: 0;}

ul.plugin-list .title {font-weight: bold;}

ul.plugin-list.vertical li {
    list-style: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0;
    clear: both;
}

li.plugin-list-item {clear: both;}

ul.plugin-list.vertical li:first-child {padding-top: 0;}
div.main_page ul.plugin-list.vertical li.grouper li.important {
    padding: .5em;
    margin: 1px 0 1em;
    background-color: #eee;
    }

/* groupers in plugin lists */
ul.plugin-list li.grouper {font-weight: bold;}
ul.plugin-list li.grouper ul {
    font-weight: normal;
    padding-left: 0;
    }

/* paragragh-style lists of links */

p.plugin-list-item {margin: 0; clear: both;}

/* list for links to other items, (e.g. news and events) */
ul.other-items  {
    border-top: 1px solid #ddd;
    padding-top: 0.5em;
    clear: both;
    }

/* "fancy" means links have link icons" - obviously a <p> is not really a list, but it's being displayed as a list item */

ul.other-items li.main {font-weight: bold;}

ul.fancy,
p.fancy    {margin-left: 30px;}

ul.fancy li,
p.fancy   {
    list-style: square url(/static/arkestra/images/default_styles/hand-right.png);
    }

p.fancy   {
    display: list-item;
    }

/* used only in entity trees, I think */

.grey   {color: gray;}
.italic {font-style: italic;}
.bold   {font-weight: bold;}

/* directories */

div.directory ul {list-style: none; }
div.directory li {margin-left: 0;}
div.directory li li {margin-left: 1.5em;}
div.directory ul li .entity {font-weight: bold; }
div.directory ul li li .entity {font-weight: normal;}

/* inline lists */

ul.horizontal li, ul.horizontal a  {
    display: inline;
    list-style-type: none;
    }

ul.horizontal.grid li {
        padding-right: 1em;}

li.horizontal   {float: left; list-style-type: none;}

ul.index {
    padding: 0;
    }

ul.index li  {
    font-weight: bold;
    display: inline;
    float: left;
    margin: 0px 0.3em 0.4em 0px
    }

ul.index li a {display: block;
    padding: 0.1em;
    width: 2.1em;
    color: white;
    background: #666;
    text-align: center;
    border: 1px solid black !important; /* important because otherwise site's links styles can affect it */
    }

ul.index li a:hover {
    text-decoration: none;
    color: #666;
    background: white;
    }

/* date indexes for plugin lists */
ul.plugin-index li {
    list-style: none;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #aaa;
}

ul.plugin-index li:first-child {
    border-top: none;
}

ul.plugin-index ul {
    text-align: right;
    float: right;
    }

ul.plugin-index ul li {
    border-top: none;
    padding-bottom: .2em;
    margin-bottom: 0;
}

ul.boxed li {
    border: 1px solid #ccc;
    background: #ecf1ff;
    list-style:none;
    padding: .5em;
    margin: 0 0 1em;
    }

ul.boxed li li {border: none;}
ul.boxed li dl {margin:0;}

dl dd {padding: 0; margin: 0 0 5px 10px;}
.sidebar dl,
.sidebar ul,
dl dd.not-indented,
dl.not-indented dd
 {padding: 0; margin-left: 0;}

/* for the sub column - the right hand column in some pages - that contains lists of links etc */


/* link system */

.plugin-list-item .title    {font-weight: bold;}

 /* in plugin lists, certain spans need to be blocks */
.plugin-list-item .date,
.plugin-list-item .venue-line,
.plugin-list-item .link-description
    {display: block;}

.plugin-list-item .link-description  {padding: 0 0 .2em 0;}

ul.object-links li  {
    margin: 1em 0;
    padding: 0;
    list-style: none;
    clear: both;
}
