body    {
    margin: 30px auto;
    background: gray;
    border: 1px solid black;
    width: 1000px;
    font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
    }

div#outer-wrapper   {
    padding: 30px;
    background: #aaa;
    }
    
div#inner-wrapper   {
    padding: 30px;
    margin: 0;
    background: white;
}

div.footer  {
    border-top: 1px solid black;
}

ul, ol  {}