.subtitle   {
    font-weight: bold;
    font-size: 120%;
    }


/*
pull-out - in a space-on-right or space-on-left element, brings the pulled-out element out of the margin in the appropriate direction
*/

div.space-on-right .pull-out-new,
div.space-on-right.images-right span.image    {
    float: right;
    clear:right;
    margin-right: -50%;
    margin-left: 10%;
    }

div.space-on-left .pull-out-new,
div.space-on-left.images-left span.image    {
    float: left;
    clear: left;
    margin-left: -50%;
    margin-right: 10%;
    }

.pull-out-new {width: 75%;}    /* the ones which aren't images need a width - for images, Arkestra will do its best to give them a 75% width based on a typical browser text size */

div.space-on-left p.pull-out-new.big-quotes,
div.space-on-right p.pull-out-new.big-quotes   { width: 65%;} /* makes a bit of room for the quotes */

div.space-on-left .pull-out-new.standout   {margin-right: 3.5%;}
div.space-on-right .pull-out-new.standout   {margin-left: 3.5%;}

div.space-on-left p.pull-out-new.big-quotes {margin-right: 5%;}
div.space-on-right p.pull-out-new.big-quotes{margin-left: 5%;}

/* drop caps */

p.drop-cap:first-letter  {
    float: left;
    font-family: "Hoefler Text", "Didot", Georgia, serif;
    font-size: 300%;
    font-weight: bold;
    line-height: 1;
    margin-right: 0.04em;
    margin-bottom:-0.1em;
}


/* typogrify_tags */
.dquo {margin-left:-.3em; }

dt  {color: gray;}

.statistics dt {color: #903;}

/* A tint is a background colour on an item - it could be a row, column, paragraph, list or other block element. When such a background colour is applied, it also pads out the element. */

.tint, .tint1, .tint2, .tint3, .tint4, .tint5, .tint6,
.outline, .outline-red	{
	padding: 1em;
    }

.outline   {outline: 1px solid gray;}
.outline-red   {outline: 1px solid #990033;}

div.space-on-left {margin-left: 33%;}
div.space-on-right {margin-right: 33%;}

img.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}

/* pull-out, stand-out, quotes */
/* old version- we don't use this any more */

p.pull-out  {
    background:url(fixes/quotes-right.png) right bottom no-repeat;
    font-size:177%;
    line-height: 1.5;
    font-family:"Hoefler Text", "Didot", Georgia, serif;
    margin-left:0;
    margin-top:.0em;
    padding-left:35px;
    padding-right:25px;
    text-indent:-35px;
    display:list-item;
    list-style:none inside url(fixes/quotes-left.png);
}

p.pull-out:first-line   {
    color: #990033;
}

span.home-role {text-align: center; font-weight: bold;}

/* Arkestra credit */

ul li.arkestra {text-align: right; display: block; padding: 0;
}

ul li.arkestra a {
    font-family:"Hoefler Text", "Didot", Georgia, serif;
}

.hide   {
    position:fixed;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }
