div#map_canvas {
    border: 2px solid black;
    height: 500px;
    width: 100%;
    font-size: 80%;
}

div#map_canvas h2 {
    margin: 0;
    padding: 0;
    font-size: 120%;
    border-bottom: none;}

div#map_canvas div.labels {
    font-family: "gill sans", "gill sans mt", "Trebuchet MS", sans-serif;
    color: white;
    background-color: gray;
    font-size: 13px;
    padding: 2px 3px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
   }

div#map_canvas div.labels.main-label {
    background-color: black;
    font-weight: bold;

   }
