/* ------------------------------------------------------------- 
   Reset default browser CSS.
   Based on work by Eric Meyer:
   http://meyerweb.com/eric/tools/css/reset/index.html  
-------------------------------------------------------------- */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
    background:#fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }
/* ------------------------------------------------------------- 
   End Reset CSS  
-------------------------------------------------------------- */

.subtitle   {
    font-weight: bold;
    font-size: 120%;
    }

    
/* 
standout - large type
big-quotes - fancy quotes - implies standout */

p.standout, 
p.big-quotes
    {
    font-size:177%; 
    line-height: 1.5;
    font-family:"Hoefler Text", "Didot", Georgia, serif;
    padding-right:25px;
    margin-left:0;
    margin-top:.0em;
    }

p.standout:first-line,
p.big-quotes:first-line   {
    color: #990033;
}

p.big-quotes     {
    background:url(fixes/quotes-right.png) right bottom no-repeat;
    display:list-item;
    padding-left:35px; 
    list-style:none inside url(fixes/quotes-left.png);
    text-indent:-35px;
    }
/* 
pull-out - in a space-on-right or space-on-left element, brings the pulled-out element out of the margin in the appropriate direction
*/

div.space-on-right .pull-out-new,
div.space-on-right.images-right span.image    {
    float: right;
    clear:right;
    margin-right: -50%;
    margin-left: 10%;
    }

div.space-on-left .pull-out-new,
div.space-on-left.images-left span.image    {
    float: left;
    clear: left;
    margin-left: -50%;
    margin-right: 10%;
    }

.pull-out-new {width: 75%;}    /* the ones which aren't images need a width - for images, Arkestra will do its best to give them a 75% width based on a typical browser text size */

div.space-on-left p.pull-out-new.big-quotes,
div.space-on-right p.pull-out-new.big-quotes   { width: 65%;} /* makes a bit of room for the quotes */

div.space-on-left .pull-out-new.standout   {margin-right: 3.5%;}
div.space-on-right .pull-out-new.standout   {margin-left: 3.5%;}

div.space-on-left p.pull-out-new.big-quotes {margin-right: 5%;}
div.space-on-right p.pull-out-new.big-quotes{margin-left: 5%;}  

/* drop caps */   
        
p.drop-cap:first-letter  {
    float: left;
    font-family: "Hoefler Text", "Didot", Georgia, serif;
    font-size: 300%;
    font-weight: bold;
    line-height: 1;
    margin-right: 0.04em;
    margin-bottom:-0.1em;
}


/* typogrify_tags */

.caps {font-size: 93%;}
.amp {font-size: 105%; font-family: "Hoefler Text", "Didot", Georgia, serif; font-style:italic;}    
.dquo {margin-left:-.3em; }

dt  {color: gray;}

/* styles for publications */

cite.articles, cite.conference-proceedings    {font-style: normal; }
cite.journal    {font-style: italic;}
.publication-details    {color: #777;}
ul.publications {list-style-type: none;}
.publications li { margin-left: 0; padding-left: 0;}
.publications dd, .publications li  {margin-bottom: .5em}
.statistics dt {color: #903;}

/* A tint is a background colour on an item - it could be a row, column, paragraph, list or other block element. When such a background colour is applied, it also pads out the element. */

.tint, .tint1, .tint2, .tint3, .tint4, .tint5, .tint6,
.outline, .outline-red	{
	padding: 1em;
    }

.outline   {outline: 1px solid gray;}
.outline-red   {outline: 1px solid #990033;}

div.space-on-left {margin-left: 33%;}
div.space-on-right {margin-right: 33%;}

img.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}

/* pull-out, stand-out, quotes */
/* old version- we don't use this any more */

p.pull-out  {
    background:url(fixes/quotes-right.png) right bottom no-repeat;
    font-size:177%; 
    line-height: 1.5;
    font-family:"Hoefler Text", "Didot", Georgia, serif;
    margin-left:0;
    margin-top:.0em;
    padding-left:35px; 
    padding-right:25px;
    text-indent:-35px;
    display:list-item;
    list-style:none inside url(fixes/quotes-left.png);
}

p.pull-out:first-line   {
    color: #990033;
}

span.home-role {text-align: center; font-weight: bold;} 

/* Arkestra credit */

ul li.arkestra {text-align: right; display: block; padding: 0;
}

ul li.arkestra a {
    font-family:"Hoefler Text", "Didot", Georgia, serif;
}                                                       

.hide   {
    position:fixed;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }
