.pagination {
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    padding: 0;
}
.pagination ul>li {
    display: inline;
}


.pagination ul>li>a,
.pagination ul>li>span {
    float: left;
    background-color: #fff;
}

.pagination ul li a,
.pagination ul li span{
    text-decoration: none;
    border: 0;
    color: #555;
    padding: 0 6px;
    line-height: 25px;
    height: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pagination ul li:first-child a{
    border-radius: 0 0 0 0;
    margin-right: 5px;
    padding: 0;
}
.pagination ul li:last-child a{
    border-radius: 0 0 0 0;
    margin-left: 5px;
    padding: 0;
}
.pagination ul li:first-child > i{
    border-radius: 0 0 0 0;
    margin-right: 10px;
}
.pagination ul li:last-child > i{
    border-radius: 0 0 0 0;
    margin-left: 10px;
}
.pagination ul li .next,
.pagination ul li .prev {
    display: block;
    float: left;
    font-size: 13px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    color: #d3d3d2;
    background-color: #e9e9e9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: gray;
    border-radius: 0 0 0 0;
    color: #D3D3D2;
    display: block;
    float: left;
    font-size: 2em;
    font-style: normal;
    height: 25px;
    line-height: 20px;
    width: 25px;
}

.pagination ul li .prev {
    padding: 0 0px 0 7px;
}
.pagination ul li .next {
    padding: 0 0 0 9px;
}

.pagination ul li a .next,
.pagination ul li a .prev {
    background: #d4374a;
    color: #fff;
    background: none repeat scroll 0 0 #D4374A;
    color: #FFFFFF;
}

.pagination ul li > a:hover{
    background: #d3ded2;
    color: #fff;
    background: none repeat scroll 0 0 #d3ded2;
    color: #383735;
    text-decoration: none;
}

.pagination ul .active span,
.pagination ul .active a {
    color: #fff;
    background-color: #22211f;
}

.hidden-text{
    display: none;
}

form.filter-form label {font-weight: bold}
form.filter-form input {width: 100%}
/* Filters */
.filterline {
    margin-bottom: 0.5em;
    margin-left: 0;
    text-indent: 0;
    line-height: 1.8em;
}

.filterline .filterlabel {
    font-weight: bold;
}
.removefilter a:link,
.removefilter a:visited,
.addfilter a:link,
.addfilter a:visited {
    text-decoration: none;
}

.removefilter a:link,
.removefilter a:visited {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #113399;
    background-color: #113399;
    color: white;
}

.addfilter a:link,
.addfilter a:visited {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    color: black;
}

/* :hover come after to override */
.addfilter a:hover,
.removefilter a:hover {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #3355bb;
    background-color: #3355bb;
    color: white;
}

.displayfilter {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid white;
    background-color: white;
    color: #505050;
}
