<div class="{{ news_and_events.row_class }} {{ news_and_events.type }}">

	{% if news_and_events.news or news_and_events.other_news %}
		
		{% include "includes/news_date_index.html" %}

		<div class = "{{ news_and_events.news_div_class }}">
			{% if news_and_events.heading_level %}
				<h{{ news_and_events.heading_level }}>{{ news_and_events.news_heading_text }}</h{{ news_and_events.heading_level }}>
			{% endif %}

			<ul class="{{ news_and_events.list_format}} plugin-list">
		        {% if news_and_events.show_news_when %}
						{% regroup news_and_events.news by get_when as newslist %}
						{% for get_when in newslist %}
							<li class="grouper {{get_when.grouper|slugify}}" id ="{{get_when.grouper|slugify}}">{{ get_when.grouper }}
							    <ul>
					        		{% for news_article in get_when.list %}
										{% include "includes/news_list_item.html" %}
					        	    {% endfor %}
					        	</ul>
					    	</li>
					{% endfor %}
		    	{% else %}
					{% for news_article in news_and_events.news %}
						{% include "includes/news_list_item.html" %}
					{% endfor %}
				{% endif %}
			</ul>
			{% ifequal news_and_events.type "main_page" %}
			    {% if news_and_events.other_news %}
    				<ul class="close other-items icons">
    					{% for item in news_and_events.other_news %}
    						<li><a href = "{{item.link}}">{{item.title|capfirst }} ({{ item.count }} item{{ item.count|pluralize }})</a></li>
    					{% endfor %}
    				</ul>
    			{% endif %}
			{% endifequal %}
		</div>
	{% endif %}

    {% if news_and_events.events or news_and_events.other_events %}

		{% include "includes/events_date_index.html" %}

		<div class = "{{ news_and_events.events_div_class }}">
			{% if news_and_events.heading_level %}
				<h{{ news_and_events.heading_level }}>{{ news_and_events.events_heading_text }}</h{{ news_and_events.heading_level }}>
			{% endif %}

			{% if news_and_events.events %}
			    <ul class="{{ news_and_events.list_format}} plugin-list">
				    {% if news_and_events.show_events_when %}	        	
			    	    {% regroup news_and_events.events by get_when as eventlist %}
			       	    {% for get_when in eventlist %}
			        		<li class="grouper {{get_when.grouper|slugify}}" id ="{{get_when.grouper|slugify}}">{{ get_when.grouper }}
			    				<ul>
			    		    		{% for event in get_when.list %}
										{% include "includes/events_list_item.html" %}
			    		    	    {% endfor %}
			    				</ul>
			    			</li>
			    	    {% endfor %}

				    {% else %}
				    		{% for event in news_and_events.events %}
								{% include "includes/events_list_item.html" %}
				    	    {% endfor %}
				    {% endif %}
				</ul>	
			{% endif %}

			{% if series_events %}
				<h{{ news_and_events.sub_heading_level }}>Current events series</h{{ news_and_events.sub_heading_level }}>
				<ul class="{{ news_and_events.events_list_class}}">
					{% for event in series_events %}
						<li>
							<strong><a href="{{ event.get_absolute_url }}">{{event.get_short_title}}</a></strong>
					    	{% if event.subtitle %}<div class = "subtitle">{{ event.subtitle }}</div>{% endif %}
						</li>
				    {% endfor %}

				</ul>
			{% endif %}

			{% ifequal news_and_events.type "main_page" %}
    			{% if news_and_events.other_events %}
    				<ul class="close other-items icons">
    					{% for item in news_and_events.other_events %}
    						<li><a href = "{{item.link}}">{{item.title|capfirst }}</a> ({{ item.count }} item{{ item.count|pluralize }})</li>
    					{% endfor %}
    				</ul>
    			{% endif %}
			{% endifequal %}
		</div>
	{% endif %}

</div>

{% include "includes/other_items_for_sub_page.html" %}
{% include "includes/other_items_for_plugin.html" %}